<% timeline = (@task.upshots + @task.issues).sort_by(&:created_at) %>

<ul>
  <% timeline.each do |record| %>

    <% if record.is_a? TaskUpshot %>
      <% upshot = record %>
      <li>
        <div class="d-flex">
          <span class="me-2"><%= upshot.phase.title %></span>
          <span><%= task_state_with_icon(upshot.state) if upshot.state %></span>
          <small class="text-muted ms-auto"><%=l upshot.state_changed_at, format: :short if upshot.state_changed_at? %></small>
        </div>
      </li>
    <% else %>
      <% issue = record %>
      <li>
        <div class="d-flex align-items-center">
          <%= link_to "##{issue.id}#{issue.title}", [@project, issue], class: "me-2" %>
          <%= badge_issue_state(issue.state) %>
        </div>
      </li>
    <% end %>
  
  <% end %>
</ul>

<% if @task.message || !@task.attachments.empty? %>
  <p class="mb-0 text-muted">附加的错误信息:</p>
  <%= render "shared/page_content.html.erb", content: @task.message %>
  <%= render "shared/attachments_box.html.erb", attachmentable: @task %>
<% end %>

