<div class="page-header">
  <h2><%= page_i18n('update_password') %></h2>
</div>

<%= bootstrap_horizontal_form_for @profile, url: { action: :update_password } do |f| %>
    <%= f.input :current_password %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.actions_content do %>
        <%= ok_url_tag %>
        <%= f.submit class: "btn btn-primary" %>
    <% end %>
<% end %>
