<div class="page-header">
  <h2><%= page_i18n('profile') %></h2>
</div>

<%= bootstrap_horizontal_form_for @user, url: { action: :update } do |f| %>
  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.input :avatar do %>
    <%= image_tag f.object.avatar_url, width: 100 %>
    <%= edit_link 'https://gravatar.com', target: "_blank" %>
  <% end %>

  <%= f.input :current_password %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.actions_content do %>
    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% end %>

