<div class="container col-12 col-md-6 col-lg-4 col-xl-3">
  <div class="card">
    <div class="card-body">
      <div class="card-title mb-3">
        <h3><%= t(".sign_in", scope: "devise") %></h3>
      </div>
      <%= bootstrap_vertical_form_for resource, url: user_session_path do |f| %>
        <%= render 'in_form_flash' %>
        <%= f.input :email, label: false, placeholder: "邮箱" %>
        <%= f.submit t(".send_code", scope: "devise"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
