<div class="page-header">
  <h4><%= t "views.page.index", model_name: h(Component) %></h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= Component.human_attribute_name(:title) %></th>
      <th><%= t "views.page.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.title %></td>
        <td>
          <%= link_to "Children", action: :index, parent_id: component %>
          <%= show_link action: :show, id: component %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @components %>
</nav>

<hr>

<div class="page-actions">
  <%= new_button Component, action: :new, parent_id: @parent %>
  <%= back_link action: :index, parent_id: @parent, class: "btn btn-link" %>
</div>
