<div class="page-header d-flex">
  <h2><%= page_i18n :index, model_name: h(@milestones) %></h2>
  <div class="ml-3 mt-1 actions">
    <%= new_button Milestone, [:new, :milestone], class: "btn btn-outline-primary btn-sm" %>
  </div>
</div>

<table class="table">
  <colgroup>
    <col width="20%"/>
    <col width="20%"/>
    <col width="20%"/>
    <col width="20%"/>
    <col width="20%"/>
  </colgroup>
  <thead>
  <tr>
    <th><%=h Milestone, :title %></th>
    <th><%=h Milestone, :description %></th>
    <th><%=h Milestone, :start_time %></th>
    <th><%=h Milestone, :end_time %></th>
    <th><%= page_i18n :actions %></th>
  </tr>
  </thead>
  <tbody>
  <% @milestones.each do |milestone| %>
      <tr>
        <td><%= link_to milestone.title, milestone %></td>
        <td><%= milestone.description %></td>
        <td><%= milestone.start_time %></td>
        <td><%= milestone.end_time %></td>
        <td>
          <%= edit_link [:edit, milestone, ok_url: request.fullpath ] %>
          <%= destroy_link [milestone, ok_url: request.fullpath ]%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @milestones %>
</nav>