<div class="page-header">
  <h2><%= @milestone.title %></h2>
</div>

<table class="table">
  <colgroup>
    <col width="20%"/>
    <col width="40%"/>
    <col width="40%"/>
  </colgroup>
  <thead>
    <tr>
      <th><%=h Issue, :title %></th>
      <th><%=h Issue, :content %></th>
      <th><%=h Issue, :state %></th>
    </tr>
  </thead>
  <tbody>
    <% @milestone.issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
        <td><%= issue.content %></td>
        <td>
          <span class="<%= issue_state_class_name(issue.state, :badge) %>">
          <%= issue.state.text %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
