<div class="container col-12 col-md-6 col-lg-4 col-xl-3">
  <div class="card">
    <div class="card-body">
      <div class="card-title mb-3">
        <h3><%= t(".sign_in", scope: "devise") %></h3>
      </div>
      <%= bootstrap_vertical_form_for resource, url: verify_user_login_code_path(@login_code) do |f| %>
        <%= render 'in_form_flash' %>
        <%= f.input :email, label: false, placeholder: "邮箱" %>
        <%= f.input :login_code, label: false, placeholder: "验证码" %>
        <%= f.input :remember_me, as: :boolean %>
        <%= f.submit t(".sign_in", scope: "devise"), class: "btn btn-primary me-3" %>
        <%= link_to t(".resend_code", scope: "devise"), resend_user_login_code_path(@login_code) %>
      <% end %>
    </div>
  </div>
</div>
