<div id="comment-<%= comment.id %>" class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-9">
        <%= comment.user.display_user_name %>
      </div>
      <div class="col-md-3">
        <%= comment.created_at.strftime("%F %T") %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= simple_format(comment.content) %>
    <% if current_user && current_user == comment.user %>
        <div class="pull-right">
          <%= link_to t("views.action.delete"), issue_comment_path(@issue, comment), method: :delete,  class: "small", :remote => true %>
        </div>
    <% end %>
  </div>
</div>
<br />
