<div class="contain">
  <div class="row">
    <div class="col-md-12">
      <%= bootstrap_horizontal_form_for issue.comments.build, url: [issue, issue.comments.build], :remote => true do |f| %>
          <%= f.input :content %>

          <%= f.actions_content do %>
              <%= ok_url_tag %>
              <%= f.submit class: "btn btn-danger small" %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
