<div class="page-header justify-content-between">
  <h2>统计报表</h2>
</div>

<h3>工单时间统计</h3>
<%= bootstrap_inline_form_for @issue_activity_chart,
      url: issue_activity_chart_project_analytics_path(@project),
      method: :get do |f| %>

  <%= f.input :starts_on, as: :date_picker %>
  <%= f.input :ends_on, as: :date_picker %>
  <div class="col-auto">
    <%= f.button :submit, "过滤", class: "btn-primary" %>
  </div>
<% end %>

<% wday_mapping = ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六",]%>
<ul class="list-group">
  <% (0..6).each do |wday| %>
    <li class="list-group-item">
      <%= wday_mapping[wday] %>
      <%= render 'wday_issues_confirm_time_chart', wday: wday %>
    </li>
  <% end %>
</ul>
