<%= bootstrap_vertical_form_for @issue,
                                data: { remote: true, type: :xhrml, target: ".modal-content" } do |f| %>
    <div class="modal-header">
      <h5 class="modal-title"><%=h Milestone %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <%= f.association :milestone %>
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <%= cancel_link @issue, class: "btn btn-secondary ml-2" %>
    </div>
<% end %>