<div class="page-header">
  <h2><%=t "views.page.index", model_name: Issue %></h2>
</div>

<table class="table">
  <colgroup>
    <col width="20%"/>
    <col width="40%"/>
    <col width="20%"/>
    <col width="20%"/>
  </colgroup>
  <thead>
    <tr>
      <th><%= Issue.human_attribute_name(:title) %></th>
      <th><%= Issue.human_attribute_name(:content) %></th>
      <th><%= Issue.human_attribute_name(:state) %></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
        <td><%= issue.content %></td>
        <td>
          <span class="<%= issue_state_class_name(issue.state, :badge) %>">
          <%= issue.state.text %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @issues %>
</nav>
