<div class="page-header d-flex align-items-center">

  <h2>我的工单</h2>

  <%= link_to "新建工单", "#", class: "btn btn-primary ms-auto",
        data: { bs_target: "#applicationModal",
                bs_toggle: "modal",
                url: url_for(action: :new) } %>

</div>

<div class="nav-scroll mb-n1px position-relative zindex-999">
  <ul class="nav nav-tabs">
  <%= fume_nav action_name do |n| %>

    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="top" title="包含我创建的和我订阅的">
      <%= n.link_to :my, url_for(action: :my), class: "nav-item nav-link" do %>
        关注的 (<%= @issues_counts[:my] %>)
      <% end %>
    </li>

    <li class="nav-item">
      <%= n.link_to :assigned, url_for(action: :assigned), class: "nav-item nav-link" do %>
        受理的 (<%= @issues_counts[:assigned] %>)
      <% end %>
    </li>

    <li class="nav-item">
      <%= n.link_to :archived, url_for(action: :archived), class: "nav-item nav-link" do %>
        已归档 (<%= @issues_counts[:archived] %>)
      <% end %>
    </li>

  <% end %>
  </ul>
</div>

<div class="card rounded-top-left-0">
  <div class="card-body">
    <table class="table d-none d-md-table">
      <colgroup>
        <col width="5%">
        <col width="8%">
        <col width="20%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
        <tr>
          <th><%= sort_link(@q, :id)%></th>
          <th><%= sort_link(@q, :project_id)%></th>
          <th><%= sort_link(@q, :title)%></th>
          <th><%= sort_link(@q, :state)%></th>
          <th><%= sort_link(@q, :category_id)%></th>
          <th><%= sort_link(@q, :creator_id)%></th>
        </tr>
      </thead>
      <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= issue.id %></td>

            <td><%= link_to issue.project.name, [issue.project] %></td>

            <td>
              <%= link_to issue.title_with_priority, [issue.project, issue] %>
            </td>

            <td>
              <%= badge_issue_state(issue.state) %>
            </td>

            <td>
              <%= category_badge_tag(issue.category, issue.category.name) if issue.category %>
            </td>

            <td><%= issue.creator.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>