<div class="page-header d-flex align-items-center">

  <div class="d-flex align-items-end">
    <h2 class="me-3">仪表盘</h2>
    <%= link_to [:dashboard], class: "text-secondary me-2" do %>
      <i class="far fa-square"></i> 按项目
    <% end %>
    <%= link_to [:dashboard, :issues], class: "text-primary" do %>
      <i class="far fa-check-square"></i> 按个人
      <span class="text-danger">
        (<%= @issues_counts[:unhandled] %>)
      </span>
    <% end %>
  </div>

  <%= link_to "新建工单", "#", class: "btn btn-primary ms-auto",
        data: { bs_target: "#applicationModal",
                bs_toggle: "modal",
                url: url_for(action: :new) } %>

</div>

<div class="nav-scroll mb-n1px position-relative zindex-999">
  <ul class="nav nav-tabs">
  <%= fume_nav action_name do |n| %>

    <li class="nav-item me-auto">
      <%= n.link_to :dashboard, url_for(action: :dashboard), class: "nav-item nav-link" do %>
        待处理的
        <span class="badge bg-danger ms-1 rounded-pill"><%= @issues_counts[:unhandled] %></span>
      <% end %>
    </li>

    <li class="nav-item">
      <%= n.link_to :created, url_for(action: :created), class: "nav-item nav-link" do %>
        创建的
      <% end %>
    </li>

    <li class="nav-item">
      <%= n.link_to :focused, url_for(action: :focused), class: "nav-item nav-link" do %>
        关注的
      <% end %>
    </li>

    <li class="nav-item">
      <%= n.link_to :assigned, url_for(action: :assigned), class: "nav-item nav-link" do %>
        受理的
      <% end %>
    </li>

    <li class="nav-item">
      <%= n.link_to :archived, url_for(action: :archived), class: "nav-item nav-link" do %>
        归档的
      <% end %>
    </li>

  <% end %>
  </ul>
</div>

<div class="card rounded-top-left-0">
  <div class="card-body">
    <table class="table d-none d-md-table">
      <colgroup>
        <col width="5%">
        <col width="8%">
        <col width="20%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
        <tr>
          <th><%= sort_link(@q, :id)%></th>
          <th><%= sort_link(@q, :project_id)%></th>
          <th><%= sort_link(@q, :title)%></th>
          <th><%= sort_link(@q, :state)%></th>
          <th><%= sort_link(@q, :category_id)%></th>
          <th><%= sort_link(@q, :creator_id)%></th>
          <th><%= sort_link(@q, :assignee_id)%></th>
        </tr>
      </thead>
      <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= issue.id %></td>

            <td><%= link_to issue.project.name, [issue.project] %></td>

            <td>
              <%= link_to issue.title_with_priority, [issue.project, issue] %>
            </td>

            <td>
              <%= badge_issue_state(issue.state) %>
            </td>

            <td>
              <%= category_badge_tag(issue.category, issue.category.name) if issue.category %>
            </td>

            <td><%= issue.creator.name %></td>
            <td><%= issue.assignee&.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <nav class="table-pagination">
    <%= paginate @issues %>
  </nav>
</div>
