<div class="page-header">
  <h2><%= t "views.page.new", model_name: @issue.model_name.human %></h2>
</div>

<%= bootstrap_horizontal_form_for @issue, url: [@task, @issue] do |f| %>
  <%= f.input :title %>
  <%= f.input :content, input_html: { rows: 10 } %>

  <%= f.actions_content do %>
    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% end %>
