<div class="page-header">
  <p>
    <span class="h2"><%= @issue.title %></span>
    <span class="<%= issue_state_class_name(@issue.state, :badge) %>"><%= @issue.state.text %></span>
  </p>
</div>

<% @issue.tasks.ranked.each do |task| %>
  <div class="row">
    <div class="col-sm-2 text-right">
      <h5><%= task.test_case.title %></h5>
      <div><%= task_state_with_icon(task.state) %></div>
      <div class="badge badge-secondary"><%= task.platform.name %></div>
    </div>

    <div class="col-sm-8">
      <p class="p-4 bg-light"><%= task.message || page_i18n(:no_message) %></p>
      <div>
        <% task.task_attachments.each do |task_attachment| %>
          <div class="mb-3">
            <div class="media">
              <% if (file = task_attachment.attachment.file) %>
                <%= link_to url_for(file), target: "_blank" do %>
                  <%= image_tag url_for(file), class: "img-thumbnail mr-3", size: "100x100" %>
                <% end %>
              <% end %>
              <div class="media-body">
                <%= simple_format task_attachment.content %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
<% end %>

<div class="row">
  <div class="col-sm-10 ml-auto">
    <% Issue.state.options.each do |(text, value)| %>
      <%= link_to text, [@issue, issue: { state: value.to_sym }], method: :patch, class: issue_state_class_name(value, :btn) %>
    <% end %>
    <%= cancel_button Issue %>
  </div>
</div>

<hr>

<% @issue.comments.history.each do |comment| %>
  <%= render "comments/comments", comment: comment %>
<% end %>

<%= render "comments/form", issue: @issue %>
