<div class="page-header">
  <h2><%= title(page_i18n :edit, model_name: h(@member)) %></h2>
</div>

<%= bootstrap_horizontal_form_for [@project, @member] do |f| %>
  <%= f.input :email do %>
    <div class="form-control-plaintext"><%= f.object.user.email %></div>
  <% end %>
  <%= f.input :nickname %>
  <%= render "form", f: f %>
<% end %>
