<div class="card">
  <div class="card-header bg-white">
    <h2><%= page_i18n :new, model_name: h(@member) %></h2>
  </div>

  <div class="card-body">
    <%= bootstrap_horizontal_form_for [@project, @member] do |f| %>
      <div class="row mb-5">
        <div class="col-12 col-md-6 px-5 border-right">
          <h4 class="text-center mb-5">从已经注册过的用户中选择</h4>
          <%= f.input :user_id, collection: User.where_not_exists(@project.members.where_table(:user)), label_method: ->(user) { "#{user.name}（#{user.email}）" }  %>
        </div>
        <div class="col-12 col-md-6 px-5">
          <h4 class="text-center mb-5">创建新的用户</h4>
          <%= f.input :user_email %>
          <%= f.input :nickname %>
        </div>
      </div>
      <%= render "form", f: f %>
    <% end %>
  </div>
</div>
