<div class="modal-header">
  <h5 class="modal-title"><%= @task.test_case.title %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="alert alert-info">
        <%= @task.test_case.content %>
      </div>
      <p><%=h Task, :state %>: <%= @task.state.text %></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div id="relate-issue" class="btn-group mr-auto">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <%=h Issue %>
    </button>
    <div class="dropdown-menu">
      <% if @task.issue_id.nil? %>
        <%= new_button Issue, [:new, @task, :issue], class: "dropdown-item" %>
      <% end %>
      <% relate_data = { remote: true, target: "#relate-issue", type: :xhrml } %>
      <% link_text = @task.issue_id? ? t('views.label.issue_id', id: @task.issue_id) : t('views.action.relate') %>
      <%= link_to link_text, [:relate, @plan, @task], data: relate_data, class: "dropdown-item" %>
    </div>
  </div>
  <% data = { remote: true, target: "#uploadAttachmentsModal", type: :xhrml } %>
  <%= link_to t('task.state.pass'), [@plan, @task, task: { state: :pass }], method: :patch, class: "btn btn-success" %>
  <%= link_to t('task.state.failure'), upload_attachment_plan_task_path(@plan, @task), data: data, class: "btn btn-danger" %>
</div>