<%= content_tag :div, class: "card mb-2" do %>
  <div class="card-body d-flex align-items-center py-2 px-2">
    <div class="small me-3"><%= task_state_with_icon(task.state) %></div>
    <span class="me-auto"><%= task.test_case.title %></span>
    <span class="badge bg-secondary" style="width:70px"><%= task.platform.name %></span>

    <%= link_to "", "#", class: "stretched-link", data: { bs_target: "#applicationModal", bs_toggle: "modal", url: project_plan_task_path(@project, @plan, task) } %>
    <%= link_to 'refresh-self', [ :row, @project, @plan, task ], class: "d-none #{dom_id task, 'on'}", data: { remote: true, type: :xhrml, target: '.card .card-body' } %>
  </div>
<% end %>
