<div class="modal-header">
  <h5 class="modal-title"><%= @task.test_case.title %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="alert alert-info">
        <%= @task.test_case.content %>
      </div>
      <p><%=h Task, :state %>: <%= @task.state.text %></p>
      <% if @task.state == "failure" %>
        <p><%= h Task, :message %>: </p>
        <%= render "shared/page_content.html.erb", content: @task.message %>
        <%= render "shared/attachments_box.html.erb", attachmentable: @task %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="mr-auto">
    <% if @task.issue_id.nil? %>
      <%= link_to action_i18n('relate'), [:related_issues, @project, @plan, @task], class: "btn btn-primary" %>
    <% else %>
      <%= link_to "#{h(Task, :issue_id)}: #{@task.issue_id}", [:related_issues, @project, @plan, @task], class: "btn btn-primary" %>
    <% end %>
  </div>
  <% data = { remote: true, target: "#uploadAttachmentsModal", type: :xhrml } %>
  <%= link_to Task.state.find_value(:pass).text, [@project, @plan, @task, task: { state: :pass }], method: :patch, class: "btn btn-success" %>
  <%= link_to Task.state.find_value(:failure).text, upload_attachment_project_plan_task_path(@project, @plan, @task), data: data, class: "btn btn-danger" %>
</div>
