<div class="modal-header">
  <h5 class="modal-title"><%= @task.test_case.title %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <% if (content = @task.test_case.content) %>
        <div class="alert alert-info"><%= content %></div>
      <% end %>
      <p><%=h Task, :state %>: <%= @task.state.text %></p>
      <% if @task.state == "failure" %>
        <p><%= h Task, :message %>: </p>
        <%= render "shared/page_content.html.erb", content: @task.message %>
        <%= render "shared/attachments_box.html.erb", attachmentable: @task %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="mr-auto">
    <% if @task.issue_id.nil? %>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= action_i18n('relate') %>
        </button>
        <div class="dropdown-menu">
          <% @related_issues.each do |issue| %>
            <%= link_to "#{h(Task, :issue_id)} #{}: #{issue.id}", [@project, @plan, @task, task: { issue_id: issue.id }], method: :patch, class: "dropdown-item small" %>
          <% end %>
          <%= link_to action_i18n('more'), project_issues_url(@project, { q: { state_filter: "opening" }, related_task: @task.id }), class: "dropdown-item small" %>
        </div>
      </div>
    <% else %>
      <div class="btn-group">
        <%= link_to "#{h(Task, :issue_id)} #{}: #{@task.issue_id}", project_issue_path(@project, @task.issue_id), class: "btn btn-primary" %>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to action_i18n('cancel_relate'), [@project, @plan, @task, task: { issue_id: nil }], method: :patch, class: "dropdown-item small text-muted" %>
        </div>
      </div>
    <% end %>
  </div>
  <% data = { remote: true, target: "#uploadAttachmentsModal", type: :xhrml } %>
  <%= link_to Task.state.find_value(:pass).text, [@project, @plan, @task, task: { state: :pass }], method: :patch, class: "btn btn-success" %>
  <%= link_to Task.state.find_value(:failure).text, upload_attachment_project_plan_task_path(@project, @plan, @task), data: data, class: "btn btn-danger" %>
</div>
