<div class="modal-header">
  <h5 class="modal-title"><%= @task.test_case.title %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<%= bootstrap_vertical_form_for [@project, @plan, @task], data: { remote: true, type: 'xhrml', target: ".modal-content" } do |f| %>
  <div class="modal-body">
      <%= f.input :state, collection: Task.state.options %>
      <%= f.input :message, input_html: { class: 'markdown-field' } %>
      <%= render "attachments/upload_area.html.erb", attachments: f.object.attachments %>
  </div>

  <div class="modal-footer">
    <div class="text-end">
      <%= link_to action_i18n(:cancel), project_plan_task_path(@project, @plan, @task), data: { remote: true, type: 'xhrml', target: ".modal-content" }, class: "btn btn-secondary" %>
      <%= f.submit class: "btn btn-primary" %>
      <%= ok_url_tag %>
    </div>
  </div>
<% end %>
