<div class="modal-header">
  <h5 class="modal-title"><%= @task.finished? ? @task.test_case_snapshot.title : @task.test_case.title %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <% if @task.test_case_changed_after_finish? %>
        <div class="alert alert-danger">当前显示测试完成时的快照，该案例已被更新</div>
      <% end %>

      <div class="card mb-2">
        <div class="card-body">
          <% @task.content ||= @task.test_case_snapshot.content %>
          <%= form_for @task, url: [@project, @plan, @task], html: { data: { remote: true, type: :xhrml, target: ".modal-content"  }, class: "auto-submit" } do |f| %>
            <%= f.text_area(:content, data: { controller: "markdown" }, class: "d-none") %>
          <% end %>
        </div>
      </div>

      <p><%=h Task, :state %>: <span class="badge badge-<%= { :pending => "warning" , :pass => "success", :failure => "danger" }.fetch(@task.state.to_sym) %>"><%= @task.state.text %></span></p>
      <% if @task.state == "failure" %>
        <p><%= h Task, :message %>: </p>
        <%= render "shared/page_content.html.erb", content: @task.message %>
        <%= render "shared/attachments_box.html.erb", attachmentable: @task %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="me-auto">
    <% if @task.issue_id.nil? %>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= action_i18n('relate') %>
        </button>
        <div class="dropdown-menu">
          <% @related_issues.each do |issue| %>
            <%= link_to "#{h(Task, :issue_id)} #{}: #{issue.id}", [@project, @plan, @task, task: { issue_id: issue.id }], method: :patch, class: "dropdown-item small" %>
          <% end %>
          <%= link_to action_i18n('more'), project_issues_url(@project, { q: { state_filter: "opening" }, related_task: @task.id }), class: "dropdown-item small" %>
        </div>
      </div>
    <% else %>
      <div class="btn-group">
        <%= link_to "#{h(Task, :issue_id)} #{}: #{@task.issue_id}", project_issue_path(@project, @task.issue_id), class: "btn btn-primary" %>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to action_i18n('cancel_relate'), [@project, @plan, @task, task: { issue_id: nil }], method: :patch, class: "dropdown-item small text-muted" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to Task.state.find_value(:pass).text, [@project, @plan, @task, task: { state: :pass, test_case_version: DateTime.now }], method: :patch,
              class: "btn btn-success", data: { remote: true, type: :xhrml, target: ".modal-content" } %>
  <%= link_to Task.state.find_value(:failure).text, edit_project_plan_task_path(@project, @plan, @task, task: { state: "failure" }),
              class: "btn btn-danger", data: { remote: true, type: :xhrml, target: ".modal-content" } %>
</div>
