<% deprecated_state_names = { "closed" => "已关闭" } %>
<% state_names = Hash[Issue.state.options].invert.merge(deprecated_state_names) %>
<span class="text-info"><%=h Issue, activity.property.to_sym %></span>
<span>从</span>
<span class="badge badge-issue-<%= activity.before_value %>"><%=state_names[activity.before_value] %></span>
<span>修改为</span>
<span class="badge badge-issue-<%= activity.after_value %>"><%= state_names[activity.after_value] %></span>
