<%= render "profiles/header", current: @project.id, user: @user %>

<%= bootstrap_horizontal_form_for @member, url: { action: :update } do |f| %>
  <%= f.input :email do %>
    <div class="form-control-plaintext"><%= f.object.user.email %></div>
  <% end %>
  <%= f.input :nickname, placeholder: f.object.user.name %>

  <hr>

  <%= f.actions_content do %>
    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
    <%= cancel_button :root %>
  <% end %>
<% end %>
