<div class="modal-header">
  <h5 class="modal-title"><%= h(IssueRelationship) %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <%= bootstrap_vertical_form_for [ @project, @issue, @issue_relationship ] do |f| %>
    <%= f.input :category %>
    <%= f.input :target_id, input_html: { type: :string } %>
    <hr>

    <div class="text-end mb-2">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= action_i18n :cancel %></button>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
