<div class="card app-card-main">
  <div class="card-header bg-white d-flex">
    <h2><%= page_i18n :index, model_name: h(Category) %></h2>
    <div class="actions ms-auto">
      <%= new_button [@project, :category] if can? :new, Category %>
    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <colgroup>
        <col width="20%">
        <col width="30%">
        <col width="20%">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>ID</th>
          <th><%=h Category, :name %></th>
          <th><%=h Category, :description %></th>
          <th><%=h Category, :issues %></th>
          <th><%= page_i18n :actions %></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category_badge_tag category, category.name %></td>
            <td><%= category.description %></td>
            <td><%= category.issues.count %></td>
            <td>
              <%= edit_button [@project, category], class: "btn-sm" %>
              <%= destroy_link [@project, category], class: "btn btn-sm btn-danger" if can? :destroy, category %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <nav class="table-pagination">
      <%= paginate @categories %>
    </nav>
  </div>
</div>
