<div class="modal-header">
  <h5 class="modal-title"><%= page_i18n(:index, model_name: h(Category)) %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <table class="table">
    <colgroup>
      <col width="20%">
      <col width="30%">
      <col width="20%">
      <col>
    </colgroup>
    <thead>
    <tr>
      <th><%=h Category, :name %></th>
      <th><%=h Category, :description %></th>
      <th><%=h Category, :issues %></th>
      <th><%= page_i18n :actions %></th>
    </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category_badge_tag category, category.name, class: "badge-circle me-2" %></td>
          <td><%= category.description %></td>
          <td><%= category.issues.count %></td>
          <td>
            <%= form_with model: [@project, category], method: :delete, data: { remote: true, type: :xhrml, target: ".modal-content" } do |f| %>
              <%= edit_button [@project, category], data: { remote: true, type: :xhrml, target: ".modal-content" }, class: "btn-sm" %>
              <%= f.submit action_i18n(:destroy, model_name: h(category)), class: "btn btn-danger btn-sm" %>
            <% end if can? :destroy, category %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <nav class="table-pagination">
    <%= paginate @categories %>
  </nav>
</div>

<div class="modal-footer">
  <%= new_button [@project, :category], data: { remote: true, type: :xhrml, target: ".modal-content" } if can? :new, Category %>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= action_i18n :close %></button>
</div>
