<nav>
  <div class="nav nav-tabs">
    <%= link_to h(Project), projects_path, class: "nav-item nav-link" %>
    <%= link_to h(User), users_path, class: "nav-item nav-link active" %>
  </div>
</nav>
<div class="tab-content mt-4">
  <div class="tab-pane show active" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="page-header">
      <h2><%= page_i18n :index, model_name: h(@users) %></h2>
      <div class="actions ml-auto">
        <%= new_link User, [:new, :user] if can? :create, User %>
      </div>
    </div>

    <table class="table">
      <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th><%= sort_link(@q, :id)%></th>
        <th><%= sort_link(@q, :name)%></th>
        <th><%= sort_link(@q, :email)%></th>
        <th><%= page_i18n :actions %></th>
      </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.id, user %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <%= edit_link [:edit, user, ok_url: request.fullpath] if can? :update, user %>
              <%= destroy_link [user, ok_url: request.fullpath] if can? :destroy, user %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <nav class="table-pagination">
      <%= paginate @users %>
    </nav>
  </div>
</div>

