<div class="page-header">
  <h2><%= page_i18n :index, model_name: h(@users) %></h2>
  <div class="actions ml-auto">
    <%= new_link User, [:new, :user] %>
  </div>
</div>

<table class="table">
  <colgroup>
    <col width="20%"/>
    <col width="20%"/>
    <col width="20%"/>
    <col width="40%"/>
  </colgroup>
  <thead>
  <tr>
    <th><%= sort_link(@q, :id)%></th>
    <th><%=h User, :name %></th>
    <th><%=h User, :email %></th>
    <th><%= page_i18n :actions %></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= edit_link [:edit, user, ok_url: request.fullpath] %>
          <%= destroy_link [user, ok_url: request.fullpath] %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @users %>
</nav>
