<div class="card-header">
  <h2><%= page_i18n :show, model_name: h(@user) %></h2>
</div>

<div class="card-body">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= bootstrap_horizontal_form_for @user do |f| %>
          <%= f.input :email, readonly: true %>
          <%= f.input :name %>
          <hr>
          <%= f.actions_content do %>
              <%= ok_url_tag %>
              <%= f.submit class: "btn btn-primary" %>
              <%= cancel_button :users, class: "btn btn-link" %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
