<% task_dom_id = dom_id(task) %>
<div class="card card-collapsed collapsed border-0" data-target="#<%= task_dom_id %>" data-toggle="collapse">
  <div class="card-body">
    <div class="card-title">
      <% if task.message || task.attachments %>
          <% content_html = capture do %>
            <div id="<%= task_dom_id %>" class="collapse text-muted">
              <div class="py-2">
                <article class="alert alert-light">
                  <div class="fixed-bottom-wrapper clearfix">
                    <div class="fixed-bottom float-left">
                      <div class="inner">
                        <%= task.markdown_to_html(task.message).html_safe %>
                        <hr>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <% task.attachments.each do |attachment| %>
                      <div class="col-lg-6 p-0 pr-2 mb-2">
                        <%= render "attachments/form.html.erb", attachment: attachment %>
                      </div>
                    <% end %>
                  </div>
                </article>
              </div>
            </div>
          <% end %>
          <a href="javascript:void(0)" class="text-nowrap"><span ><%= "##{task.id}" %></span></a>
          <span><%= task.test_case.title %></span>
          <span class="badge badge-secondary mx-2"><%= task.platform.name %></span>
          <span class="mr-2"><%= task_state_with_icon(task.state) %></span>
          <span class="text-muted"><%= time_ago_in_words(task.created_at) %></span>
      <% end %>
    </div>
    <%= content_html %>
  </div>
</div>
