<% if issue_info.state.pending? %>
  <div class="alert alert-danger d-flex">
    该工单需要提供更多信息，请按照模版
    <%= link_to "补充工单", "javascript:void(0)", data: { bs_toggle: "modal", bs_target: "#applicationModal", url: apply_ok_url([:edit, @project, @issue, issue_info]) }, class: "alert-link ms-1" %>
    <%= "，备注：#{issue_info.remark}" if issue_info.remark.present? %>
    <div class="dropdown float-right dropdown-no-arrow ms-auto">
      <button class="btn btn-sm dropdown-toggle p-0" data-bs-toggle="dropdown" style="background: transparent;">
        <i class="far fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-end" style="min-width: 3px;">
        <%= link_to "取消该模版", [@project, @issue, issue_info], method: :delete, class: "small dropdown-item" if can? :destroy, IssueInfo %>
      </div>
    </div>
  </div>
<% else %>
  <div class="card mb-3">
    <div class="card-header d-flex align-items-center">
      工单模版：<%= issue_info.template.name %>
      <span class="ms-3 small text-muted">修改于 <%=l issue_info.updated_at, format: :long %></span>
      <% if can? :edit, issue_info %>
        <div class="dropdown ms-auto dropdown-no-arrow">
          <button class="btn btn-sm dropdown-toggle p-0" data-bs-toggle="dropdown" style="background: transparent;">
            <i class="far fa-ellipsis-h" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" style="min-width: 3px;">
            <%= link_to "修改", "javascript:void(0)",
              data: { bs_toggle: "modal", bs_target: "#applicationModal", url: url_for([:edit, @project, @issue, issue_info]) },
              class: "small dropdown-item" if can? :edit, issue_info if can? :edit, IssueInfo %>
            <%= link_to "删除该模版", [@project, @issue, issue_info],
                  method: :delete, class: "small dropdown-item",
                  data: { confirm: "删除后将丢失已填写的数据，确定删除？" } if can? :destroy, IssueInfo %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card-body">
      <div class="no-margin-bottom">
        <% issue_info.inputs.each do |form_input| %>
          <p><%= form_input.label %>: <%= form_input.value %></p>
        <% end %>
      </div>
    </div>

    <% if issue_info.remark.present? %>
      <div class="card-footer">
        备注：<%= issue_info.remark %>
      </div>
    <% end %>
  </div>
<% end %>
