<% file = attachment.file %>
<% blob = file.blob %>
<div class="media border bg-light d-flex p-2">
  <div class="me-2" style="width: 3rem">
    <% attachmentable = attachment.attachmentable %>
    <% fancybox_options = attachmentable ? { fancybox: dom_id(attachmentable) } : {} %>
    <% if attachment.image? %>
      <%= link_to url_for(file), target: "_blank", data: fancybox_options do %>
        <div class="ratio ratio-1x1 d-flex align-items-center justify-content-center img-thumbnail overflow-hidden">
          <%= image_tag url_for(file), class: "h-100" %>
        </div>
      <% end %>
    <% elsif attachment.video? %>
      <%= link_to url_for(file), target: "_blank", data: fancybox_options do %>
        <div class="ratio ratio-16x9 d-flex align-items-center justify-content-center">
          <% if file.previewable? %>
            <%= image_tag file.preview(resize: '100'), class: "h-100" %>
          <% else %>
            <%= video_tag url_for(file), class: "h-100" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= link_to url_for(file), class: "h-100", target: "_blank" do %>
        <div class="ratio ratio-1x1 d-flex align-items-center justify-content-center">
          <%= image_tag 'file.png', class: "h-100" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="media-body d-flex flex-column">
    <div class="d-flex">
      <span class=""><%= attachment.title.truncate(20) %></span>
      <%= link_to edit_attachment_path(attachment), class: "text-muted ms-3", data: { remote: true, type: "xhrml", target: ".media", replace: true } do %>
        <span class="far fa-fw fa-edit"></span>
      <% end %>
    </div>
    <div class="d-flex">
      <span class="text-secondary"><%= number_to_human_size(blob.byte_size, precision: 2, locale: 'en') %></span>
      <%= link_to polymorphic_url(file), class: "clipboard ms-1" do %>
        <span class="far fa-fw fa-link text-muted"></span>
      <% end %>
      <% data = { remote: true, type: "xhrml", target: ".col-lg-6", replace: true, confirm: "确认删除附件?" } %>
      <%= link_to apply_ok_url([ attachment ]), method: :delete, data: data, class: "text-muted ms-auto" do %>
        <span class="far fa-fw fa-trash-alt"></span>
      <% end %>
    </div>
  </div>
</div>
