<% file = @attachment.file %>
<div class="media border bg-light p-2 align-items-center">
  <div class="me-2" style="width: 3rem">
    <div class="ratio ratio-1x1 d-flex align-items-center justify-content-center img-thumbnail overflow-hidden">
      <% if @attachment.image? %>
        <%= image_tag url_for(file), class: "h-100" %>
      <% else %>
        <%= image_tag 'file.png', class: "h-100" %>
      <% end %>
    </div>
  </div>
  <div class="media-body d-flex flex-column">
    <%= bootstrap_inline_form_for @attachment, defaults: { label: false }, data: { remote: true, type: "xhrml", target: ".media", replace: true } do |f| %>
      <%= f.input :title, as: :string %>
      <div class="col px-0">
        <%= f.submit action_i18n('update'), class: "btn btn-primary" %>
        <%= cancel_button :attachment, data: { remote: true, type: "xhrml", target: ".media", replace: true } %>
      </div>
    <% end %>
  </div>
</div>
