<div class="card text-dark bg-light">
  <div class="card-body">
    <h5>
      <%= test_case.title %>
      <% test_case.labels.each do |label| %>
        <span class="badge bg-secondary"><%= label.name %></span>
      <% end %>
    </h5>

    <%= text_area_tag(:content, test_case.content, data: { controller: "markdown" }, readonly: true, class: "d-none") %>

    <% if test_case.platforms.exists? %>
    <div class="py-1">
      <% test_case.platforms.each do |platform| %>
      <span class="badge" style="background-color: <%= calc_color_hex(platform.name) %>; color: white;"> <%= platform.name %></span>
      <% end %>
    </div>
    <% end %>
  </div>
</div>