<% unless @folders_mapping[key].nil? %>
  <% (@folders_mapping[key] || []).each do |folder| %>
    <% children = @folders_mapping[folder.id] || [] %>
    <% open = (@folder&.ancestor_ids_with_self || []).include?(folder.id) && children.any? %>
    <li class="<%= 'has-children' if children.any? %>">
      <% if children.any? %>
        <a data-toggle="collapse" data-target="#treeview-<%= folder.id %>-container" class="toggler text-muted <%= 'collapsed' if !open %>">
          <i class="far fa-plus-square"></i>
        </a>
      <% else %>
        <span class=""></span>
      <% end %>
      <span class="line"></span>
      <div class="item">
        <span class="text-center d-inline-block">
        </span>
        <%= link_to [@project, ::TestCase, folder_id: folder.id, platform_id: @platform], class: "flex-1 rounded #{folder == @folder ? 'text-body' : 'text-muted'} #{'active' if folder == @folder}", data: { remote: true, type: "xhrml", target: ".card-body #tp-main", replace: true }  do %>
          <i class="fal fa-folder mr-2"></i><%= folder.name %>（<%= @folder_test_cases_counts[folder.id] %>）
        <% end %>
        <% if @folder == folder && (can? :edit, folder) %>
            <%= link_to [ :edit, @project, @folder ], class: "text-muted ml-2" do %>
              <i class="far fa-pencil"></i>
            <% end %>
        <% end %>
      </div>
      <ul id="treeview-<%= folder.id %>-container" class="collapse <%= 'show' if open %>">
        <%= render 'folders.html', key: folder.id %>
      </ul>
    </li>
  <% end %>
<% end %>
