
<% if @test_case.versions.count > 1 %>
  <% @test_case.versions.reverse.each do |version| %>
    <div class="row">
      <div class="col">
        <% if version.previous %>
          <%= link_to "#version-#{version.id}", data: { bs_toggle: "collapse" }, class: "btn btn-light d-block" do %>
            <%= l(version.previous.created_at, format: :long) %> 创建的版本
          <% end %>
          <div class="collapse multi-collapse my-2" id="version-<%= version.id %>">
            <div class="card card-body">
              <%= text_area_tag(:content, version.reify.content, data: { controller: "markdown" }, readonly: true, class: "d-none") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <small class="text-muted">该用例自从创建后从未更改（创建于<%=l @test_case.created_at, format: :long %>）</small>
<% end %>