<%= fume_nav params[:platform_id] do |n| %>
  <div class="dropdown">
    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
      <%= @platform&.name || page_i18n(:all) %>
    </button>
    <div class="dropdown-menu">
      <%= n.link_to nil, page_i18n(:all), current_url(platform_id: nil), class: "dropdown-item" %>
      <% @project.platforms.each do |platform| %>
        <%= n.link_to platform.id, platform.name, current_url(platform_id: platform.id), class: "dropdown-item" %>
      <% end %>
      <% if can? :index, Platform %>
        <div class="dropdown-divider"></div>
        <%= link_to page_i18n(:index, model_name: h(Platform)), "#", class: "dropdown-item", data: { remote: true, bs_toggle: "modal", bs_target: "#applicationModal", url: project_platforms_path(@project, ok_url: request.fullpath) } %>
      <% end %>
    </div>
  </div>
<% end %>
