<%= fume_nav params[:test_case_version_id] do |n| %>
  <div class="dropdown">
    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
      <%= @test_case_version&.title || page_i18n(:all) %>
    </button>
    <div class="dropdown-menu">
      <%= n.link_to nil, page_i18n(:all), current_url(test_case_version_id: nil), class: "dropdown-item" %>
      <% @project.test_case_versions.each do |version| %>
        <%= n.link_to version.id, version.title, current_url(test_case_version_id: version.id), class: "dropdown-item" %>
      <% end %>
      <% if can? :index, TestCaseVersion %>
        <div class="dropdown-divider"></div>
        <%= link_to page_i18n(:index, model_name: h(TestCaseVersion)), "#", class: "dropdown-item", data: { remote: true, bs_toggle: "modal", bs_target: "#applicationModal", url: project_test_case_versions_path(@project, ok_url: request.fullpath) } %>
      <% end %>
    </div>
  </div>
<% end %>
