<% title t('views.navbar.cases') %>

<div class="card app-card-main">
  <div class="card-header bg-white d-flex">
    <h5 class="my-auto mx-2"><%=h ::TestCase, :platform_ids %></h5>
    <%= render 'platform_filter.html' %>

    <h5 class="my-auto mx-2"><%=h ::TestCase, :label_ids %></h5>
    <%= render 'label_filter.html' %>

    <div class="actions ms-auto">
      <%= new_button [@project, :test_case], class: "btn-sm", data: { bs_toggle: "modal", bs_target: "#applicationModal", url: new_project_test_case_path(@project, ok_url: request.fullpath, test_case: { folder_id: @folder }) } if can? :new, TestCase %>
    </div>
  </div>

  <div class="card-body d-flex">
    <div class="col-12 col-md-3 col-xl-2 border-end py-3">
      <% @folders_mapping = @folders.group_by(&:parent_id) %>
      <div class="d-flex mb-2">
        <h5 class="my-auto"><%= link_to current_url(platform_id: @platform), class: "", data: { remote: true, type: "xhrml", target: "#tp-main .table", action: "activable#active" }  do %>
          <%=h Folder %>
        <% end %></h5>
        <div class="actions ms-auto">
          <small><%= new_link [@project, :folder] %></small>
        </div>
      </div>

      <div id="folder-tree" class="treeview" data-controller="activable">
        <ul>
          <%= render "shared/folders.html", key: nil do |folder| %>
            <%= link_to current_url(folder_id: folder.id), class: "treeview-link flex-1 rounded  #{'active' if folder == @folder}", data: { remote: true, type: "xhrml", target: "#tp-main table", action: "activable#active" }  do %>
              <i class="fal fa-folder me-2"></i><%= folder.name %>（<%= @folder_test_cases_counts[folder.id] %>）
            <% end %>
            <%= link_to [ :edit, @project, folder ], class: "text-muted ms-2 treeview-active-actions" do %>
              <i class="fal fa-pencil"></i>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-9 col-xl-10">
      <div id="tp-main">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><%= h(::TestCase, :title) %></th>
              <th scope="col"><%= h(::TestCase, :platform_ids) %></th>
              <th scope="col"><%= h(::TestCase, :label_ids) %></th>
            </tr>
          </thead>
          <tbody>
            <% @test_cases.order(:created_at).each do |test_case| %>
              <tr>
                <td><%= link_to test_case.title, "", data: { bs_toggle: "modal", bs_target: "#applicationModal", url: apply_ok_url([ @project, test_case ]) } %></td>
                <td>
                  <% test_case.platforms.each do |platform| %>
                     <span class="badge" style="background-color: <%= calc_color_hex(platform.name) %>; color: white;"><%= platform.name %></span>
                  <% end %>
                </td>
                <td>
                  <% test_case.labels.each do |label| %>
                    <span class="badge badge-secondary"><%= label.name %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

  </div>

</div>
