<div class="page-header">
  <h2>
    <%= page_i18n :index, model_name: h(@test_cases) %>
  </h2>
  <div class="actions ml-auto">
    <%= new_button ::TestCase, "#", class: "btn btn-outline-primary btn-sm", data: { toggle: "modal", target: "#test_case_modal", url: new_project_test_case_path(@project, @test_case, ok_url: request.fullpath) } if can? :create, ::TestCase %>
  </div>
</div>

<% @test_cases_mapping = @test_cases.group_by(&:folder) %>
<% @folders_mapping = @project.folders.available.ranked.group_by(&:parent_id) %>

<%= fume_nav params[:platform_id], active_class: "text-dark" do |n| %>
  <% ([[page_i18n(:all), nil]] + @project.platforms.map { |p| [p.name, p.id] }).each do |key, value| %>
    <%= n.apply_content value do |active_class| %>
      <%= link_to [@project, ::TestCase, platform_id: value], class: active_class do %>
        <button type="button" class="btn btn-xs btn-pill" style="background-color: <%= calc_color_hex(key) %>; color: white"><%= key %></button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= h Platform, "name" %></th>
      <th scope="col"><%= h Platform %></th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @test_cases.each do |test_case| %>
      <tr>
        <td><%= test_case.title %></td>
        <td>
          <% test_case.platforms.each do |platform| %>
            <span class="badge" style="background-color: <%= calc_color_hex(platform.name) %>; color: white;"><%= platform.name %></span>
          <% end %>
        </td>
        <td>
          <%= edit_link "#", class: "small", data: { toggle: "modal", target: "#test_case_modal", url: edit_project_test_case_path(@project, test_case, ok_url: request.fullpath) } if can? :update, test_case %>
          <%= destroy_link [@project, test_case, ok_url: request.fullpath], class: "small" if can? :destroy, test_case %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <div class="d-flex justify-content-between">
    <h5><%= h Folder %></h5>
    <div class="actions">
      <%= link_to [:new, @project, :folder] do %>
        <i class="far fa-plus"></i>
      <% end if can? :new, Folder %>
    </div>
  </div>

  <div id="folder-tree" class="treeview">
    <ul>
      <%= render "folders", key: nil %>
    </ul>
  </div>
<% end %>

<div id="test_case_modal" class="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
