<%= bootstrap_horizontal_form_for [@project, @test_case],
    defaults: { wrapper_html: { class: "ml-0" }, legend_tag_html: { class: "text-right", style: "width: 8rem;"  }, label_wrapper_html: { class: "text-right", style: "width: 8rem;"  }, content_html: { class: "col" } },
    data: { remote: true, type: :xhrml, target: ".modal-content" } do |f| %>
  <div class="modal-header">
    <h5 class="modal-title"><%= page_i18n :show, model_name: h(@test_case) %></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= render "inputs.html", f: f %>
  </div>
  <div class="modal-footer">
    <%= destroy_button [@project, @test_case], class: "mr-auto" %>
    <%= f.submit class: "btn btn-primary" %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= action_i18n :close %></button>
  </div>
<% end %>
