<div class="modal-header">
  <h5 class="modal-title">
    <%= @test_case.title %>
    <% @test_case.labels.each do |label| %>
      <span class="badge bg-secondary"><%= label.name %></span>
    <% end %>
  </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body pb-0">
  <%= text_area_tag(:content, @test_case.content, data: { controller: "markdown" }, readonly: true, class: "d-none") %>

  <% @test_case.platforms.each do |platform| %>
    <span class="badge" style="background-color: <%= calc_color_hex(platform.name) %>; color: white;"><%= platform.name %></span>
  <% end %>

  <div class="collapse show btn-toggle text-center p-1">
    <a class="btn btn-link mx-auto" data-bs-toggle="collapse" data-bs-target=".btn-toggle" role="button">
      <i class="far fa-history me-1"></i>显示历史版本
    </a>
  </div>

  <div class="collapse multi-collapse btn-toggle mt-4">
    <div class="accordion">
      <% case_dom_id = dom_id(@test_case) %>

      <div class="accordion-item">
        <h2 class="accordion-header" id="<%= case_dom_id %>_header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= case_dom_id %>_body" aria-expanded="false" aria-controls="<%= case_dom_id %>_body">
            <%= l(@test_case.updated_at, format: :long) %>

            <span class="badge bg-secondary mx-1">当前</span>

            <% if current_version_at = @test_case_version_mapping.keys.sort.reverse.first %>
              <% latest = current_version_at >= @test_case.updated_at %>
              <% if latest %>
                <% test_case_version = @test_case_version_mapping.delete(current_version_at) %>
                <span class="px-2 text-muted small">版本号: <%= test_case_version.fullname %></span>

                <%
                  current_version_at = @test_case_version_mapping.keys.sort.reverse.first
                  while current_version_at && current_version_at >= @test_case.updated_at
                    @test_case_version_mapping.delete(current_version_at)
                    current_version_at = @test_case_version_mapping.keys.sort.reverse.first
                  end
                %>
              <% end %>
            <% end %>
          </button>
        </h2>
        <div id="<%= case_dom_id %>_body" class="accordion-collapse collapse" aria-labelledby="<%= case_dom_id %>_header">
          <div class="accordion-body">
            <%= render template: "projects/test_cases/_case", formats: [ :html ], locals: { test_case: @test_case } %>
          </div>
        </div>
      </div>

      <% @test_case.versions.reverse.each_with_index do |version, index| %>
        <% version_dom_id = dom_id(version) %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="<%= version_dom_id %>_header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= version_dom_id %>_body" aria-expanded="false" aria-controls="<%= version_dom_id %>_body">
              <%= l(version.reify.updated_at, format: :long) %>

              <% if current_version_at = @test_case_version_mapping.keys.sort.reverse.first %>
                <% latest = current_version_at >= version.reify.updated_at %>
                <% if latest %>
                  <% test_case_version = @test_case_version_mapping.delete(current_version_at) %>
                  <span class="px-2 text-muted small">版本号: <%= test_case_version.fullname %></span>

                  <%
                    current_version_at = @test_case_version_mapping.keys.sort.reverse.first
                    while current_version_at && current_version_at >= version.reify.updated_at
                      @test_case_version_mapping.delete(current_version_at)
                      current_version_at = @test_case_version_mapping.keys.sort.reverse.first
                    end
                  %>
                <% end %>
              <% end %>
            </button>
          </h2>
          <div id="<%= version_dom_id %>_body" class="accordion-collapse collapse" aria-labelledby="<%= version_dom_id %>_header">
            <div class="accordion-body">
              <%= render template: "projects/test_cases/_case", formats: [ :html ], locals: { test_case: version.reify } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal-footer">
  <%= edit_button [@project, @test_case], data: { remote: true, type: :xhrml, target: ".modal-content" }, class: "btn-sm" %>
  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><%= action_i18n :close %></button>
</div>
