<% if can? :read, Project %>
  <nav>
    <div class="nav nav-tabs">
      <%= link_to h(Project), projects_path, class: "nav-item nav-link active" %>
      <%= link_to h(User), users_path, class: "nav-item nav-link" if can? :manage, User %>
    </div>
  </nav>
  <div class="tab-content mt-4">
    <div class="tab-pane show active" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="page-header">
        <h2><%= page_i18n :index, model_name: h(@projects) %></h2>
        <div class="actions ms-auto">
          <%= new_button :project if can? :new, Project %>
        </div>
      </div>
      <table class="table">
        <colgroup>
          <col width="40%">
          <col width="10%">
          <col width="20%">
          <col>
        </colgroup>
        <thead>
        <tr>
          <th><%=h Project, :name %></th>
          <th>订阅</th>
          <th><%=h Project, :created_at %></th>
          <th><%= page_i18n :actions %></th>
        </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= link_to project.name, project %></td>
              <td>
                <% if project.members.where(user: current_user).take.receive_mail? %>
                  <span class="badge bg-success">已订阅</span>
                  <%= link_to "取消", unsubscribe_project_path(project), method: :patch, class: "btn btn-outline-secondary btn-xs" %>
                <% else %>
                  <span class="badge bg-secondary">未订阅</span>
                  <%= link_to "订阅", subscribe_project_path(project), method: :patch, class: "btn btn-outline-primary btn-xs" %>
                <% end %>
              </td>
              <td><%=l project.created_at, format: :long %></td>
              <td>
                <%= edit_button project, class: "btn-xs" if can? :edit, project %>
                <%= link_to "归档", [:archive, project], method: :patch, data: {confirm: "确定归档该项目？"}, class: "btn btn-danger btn-xs" if can? :archive, project %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <nav class="table-pagination">
        <%= paginate @projects %>
      </nav>
    </div>
  </div>
<% end %>
