<div class="page-header">
  <h2><%= page_i18n :show, model_name: h(@project) %></h2>
</div>

<table class="table">
  <colgroup>
    <col width="20%"/>
    <col width="40%"/>
    <col width="40%"/>
  </colgroup>
  <thead>
  <tr>
    <th><%=h User, :name %></th>
    <th><%=h User, :email %></th>
    <th><%=h User, :role %></th>
  </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @members %>
</nav>
