<% (@folders_mapping[key] || []).each do |folder| %>
  <li class="pl-4">
    <span class="text-muted">
      <span class="fa fa-fw fa-folder-o"></span> <%= folder.name %>
      <span>
        <% test_cases = folder.subtree.flat_map(&:test_cases) %>
        <% tasks = @tasks_mapping.values_at(*test_cases).compact.flatten.group_by(&:state) %>
        <% Task.state.options.each do |key, value| %>
          <small class="<%= task_state_class_name(value) %> ml-1">
            <%= "#{key}: #{tasks.fetch(value, []).length}" %>
          </small>
        <% end %>
      </span>
    </span>
    <ul class="list-unstyled">
      <%= render "folders", key: folder.id %>
      <% (@test_cases_mapping[folder] || []).each do |test_case| %>
        <% @tasks_mapping[test_case].each do |task| %>
          <li class="pl-4 mb-2 card-task-wrapper">
            <%= render "shared/card_task", test_case: task.finished? ? task.test_case_when_finishing : test_case, task: task %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>
