<%= f.input :title %>

<%= f.input :start_at, as: :datetime_pickr %>

<% if f.object.new_record? %>
  <%= f.input :platform_ids, collection: f.object.project.platforms.all, as: :check_boxes, input_html: { name: "platform_ids[]" } %>

  <% @folders_mapping = f.object.project.folders.available.group_by(&:parent_id) %>
  <%= f.input :folder_ids do %>
  <a id="check-all" class="small" href="javascript:void(0)">全选</a>
  <a id="check-none" class="small" href="javascript:void(0)">无</a>
    <ul class="list-unstyled">
      <%= render "folder_check_boxes", key: nil %>
    </ul>
  <% end %>
<% end %>

<hr>

<%= f.actions_content do %>
  <%= ok_url_tag %>
  <%= f.submit class: "btn btn-primary" %>
  <%= cancel_link url_for(action: :index), class: "btn btn-link" %>
<% end %>

<script type="text/javascript">
$('#check-all').on("click", function(){
  var folderCheckboxes = $('input[name="folder_ids[]"]');
  !folderCheckboxes.prop("checked", !folderCheckboxes.prop("checked"));
});

$('#check-none').on("click", function(){
  var folderCheckboxes = $('input[name="folder_ids[]"]');
  !folderCheckboxes.prop("checked", false);
});
</script>
