<div class="page-header">
  <h2><%= page_i18n :index, model_name: h(@plans) %></h2>
</div>

<table class="table">
  <colgroup>
    <col width="20%">
    <col width="60%">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th><%=h ::TestCase, :title %></th>
      <th><%= page_i18n :progress %></th>
      <th><%= page_i18n :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% progress_bg_mapping = { "pass" => "bg-success", "failure" => "bg-danger" } %>
    <% @plans.each do |plan| %>
      <tr>
        <td>
          <%= link_to plan.title, action: :show, id: plan, ok_url: request.fullpath %>
        </td>
        <td>
          <div class="progress">
            <% tasks_count = @tasks_count_mapping.sum { |key, value| key.first == plan.id ? value : 0 } %>
            <div class="progress-bar" style="width: 0%"></div>
            <% Task.state.values.each do |state| %>
              <% count = @tasks_count_mapping[[plan.id, state]] || 0 %>
              <% if count.nonzero? && (bar_bg = progress_bg_mapping[state]) %>
                <div class="progress-bar <%= bar_bg %>" style="width: <%= 100.0 * count / tasks_count %>%"></div>
              <% end %>
            <% end %>
          </div>
        </td>
        <td>
          <%= edit_link [:edit, @project, plan, ok_url: request.fullpath] if can? :update, plan %>
          <%= destroy_link [@project, plan, ok_url: request.fullpath] if can? :destroy, plan %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @plans %>
</nav>

<hr>
<div class="page-actions">
  <%= new_button Plan, action: :new if can? :create, Plan %>
</div>
