<div class="page-header justify-content-between">
  <h2><%= title(@plan.title) %></h2>
  <%= link_to edit_project_plan_path(@project, @plan) do %>
    设置
  <% end %>
</div>

<div class="card app-card-main">
  <div class="card-header bg-white d-flex">
    <h4 class="me-auto my-auto"><%= page_i18n :index, model_name: h(@tasks) %></h4>

    <%= fume_nav @platform&.id do |n| %>
      <div class="dropdown">
        <%=h Task, :platform_id %>：
        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          <%= @platform&.name || page_i18n(:all) %>
        </button>
        <div class="dropdown-menu">
          <%= n.link_to nil, page_i18n(:all), current_url(platform_id: nil), class: "dropdown-item" %>
          <% @project.platforms.each do |platform| %>
            <%= n.link_to platform.id, platform.name, current_url(platform_id: platform), class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= fume_nav @q.state_eq do |n| %>
      <div class="dropdown ms-3">
        <%=h Task, :state %>：
        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          <%= Task.state.find_value(@q.state_eq)&.text || page_i18n(:all) %>
        </button>
        <div class="dropdown-menu" >
          <%= n.link_to nil, page_i18n(:all), current_url(q: { state_eq: nil }), class: "dropdown-item" %>
          <% Task.state.options.each do |(text, value)| %>
            <%= n.link_to value, text, current_url(q: { state_eq: value }), class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="card-body p-0 d-flex align-items-stretch">
    <div class="col-12 col-md-3 col-xl-2 border-end p-3">
      <% @folders_mapping = @folders.group_by(&:parent_id) %>
      <div class="d-flex">
        <h5><%= link_to [@project, @plan, platform_id: @platform], class: "flex-1 rounded #{'active' if @folder == nil }", data: { remote: true, type: "xhrml", target: ".card-body #tp-main", replace: true, action: "activable#active" }  do %>
          <%=h Folder %>
        <% end %></h5>
      </div>

      <div id="folder-tree" class="treeview" data-controller="activable">
        <ul>
          <%= render "shared/folders.html", key: nil do |folder| %>
            <%= link_to current_url(folder_id: folder), class: "treeview-link flex-1 rounded  #{'active' if folder == @folder}", data: { remote: true, type: "xhrml", target: "#tp-main .test_cases-cards", action: "activable#active" }  do %>
              <i class="fal fa-folder me-2"></i><%= folder.name %>（<%= @folder_tasks_counts[folder.id] %>）
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-9 col-xl-10">
      <div id="tp-main">
        <div class="test_cases-cards">
          <% @tasks.each do |task| %>
            <%= render 'projects/tasks/row.html', task: task %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
