<div class="page-header d-flex">
  <h2 class="me-3"><%= title(@plan.title) %></h2>

  <% if @plan.platform %>
    <div class="border-start">
      <h4>
        <span class="badge bg-light text-dark">
          平台: <%= @plan.platform.name %>
      </span>
      </h4>
    </div>
  <% end %>

  <%= link_to edit_project_plan_path(@project, @plan), class: "ms-auto" do %>
    设置
  <% end %>
</div>

<ul class="nav nav-pills">
  <% @plan.phases.ranked.each do |phase| %>
    <li class="nav-item mb-3 mx-3">
      <%= link_to [@project, @plan, { phase_index: phase.index }], class: "nav-link #{'active' if phase == @current_phase}" do %>
        <span><%= phase.title %></span>
      <% end %>
    </li>
  <% end %>
  <li class="nav-item mb-3 mx-3">
    <%= link_to '#', class: "nav-link",
          data: { bs_target: "#applicationModal", bs_toggle: "modal", url: new_project_plan_phase_path(@project, @plan) } do %>
      <i class="far fa-plus-circle me-1"></i><span>开始新一轮测试</span>
    <% end %>
  </li>
</ul>

<div id="app">
  <app-template />
</div>
