<%= bootstrap_horizontal_form_for [@project, @issue, @issue_info], remote: true, data: { target: ".modal-content", type: "xhrml" } do |f| %>
  <div class="modal-header">
    <h5 class="modal-title">填写模版</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <%= @issue_info.remark %>
    <%= f.simple_fields_for *bootstrap_args_for_vertical(:inputs) do |ff| %>
      <%= ff.input :template_input_id, as: :hidden %>
      <%= ff.input :value, label: ff.object.label %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= action_i18n :close %></button>
  </div>
<% end %>
