<div class="row justify-content-center">
  <div class="col-sm-10 col-md-7 col-lg-6">
    <div class="card">
      <div class="card-header h4">
        <%= action_i18n :login %>
      </div>
      <div class="card-body">
        <%= bootstrap_vertical_form_for resource, url: session_path(resource_name) do |f| %>
          <%= f.input :email %>
          <%= f.input :password %>

          <% if devise_mapping.rememberable? -%>
            <%= f.input :remember_me, as: :boolean %>
          <% end %>

          <div class="actions">
            <%= f.submit action_i18n('login'), class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
