<%= f.input :title %>
<%= f.input :published_at, as: :datetime_picker %>
<%= f.input :description, input_html: { class: 'markdown-field' } %>
<%= render "attachments/upload_area.html.erb", attachments: f.object.attachments %>

<hr>

<div class="actions">
  <%= ok_url_tag %>
  <%= f.submit class: "btn btn-primary" %>
  <%= cancel_button [@project, :milestones] %>
</div>
