<% content_for :header do %>
  <h2><%= title(page_i18n :index, model_name: h(@milestones)) %></h2>
  <% if can? :create, Milestone %>
    <div class="actions ml-auto">
      <%= new_link Milestone, [:new, @project, :milestone] %>
    </div>
  <% end %>
<% end %>

<table class="table">
  <colgroup>
    <col width="20%">
    <col width="20%">
    <col width="20%">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th><%=h Milestone, :title %></th>
    <th><%=h Milestone, :published_at %></th>
    <th><%= page_i18n :actions %></th>
  </tr>
  </thead>
  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= link_to milestone.title, [@project, milestone] %></td>
        <td><%=l milestone.published_at, format: :long if milestone.published_at? %></td>
        <td>
          <%= edit_link [:edit, @project, milestone, ok_url: request.fullpath ] if can? :update, milestone %>
          <%= destroy_link [@project, milestone, ok_url: request.fullpath ] if can? :destroy, milestone %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @milestones %>
</nav>
