<div class="card app-card-main">
  <div class="card-header bg-white d-flex">
    <h2><%= title(page_i18n :index, model_name: h(@milestones)) %></h2>

    <div class="actions ms-auto">
      <%= new_button [@project, :milestone] if can? :new, Milestone %>
    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th><%=h Milestone, :title %></th>
        <th><%=h Milestone, :published_at %></th>
        <th><%= page_i18n :actions %></th>
      </tr>
      </thead>
      <tbody>
        <% @milestones.ranked.each do |milestone| %>
          <tr class="<%= 'block-discard' if milestone.published? %>">
            <td><%= link_to milestone.title, [@project, milestone] %></td>
            <td><%=l milestone.published_at, format: :long if milestone.published_at? %></td>
            <td>
              <%= edit_link [@project, milestone] %>
              <%= destroy_link [@project, milestone] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <nav class="table-pagination">
      <%= paginate @milestones %>
    </nav>

  </div>
</div>
