<div class="page-header justify-content-between">
  <h2><%= title(@milestone.title) %></h2>
  <small><%= @milestone.published_at? ? "发布于 #{l @milestone.published_at, format: :long}" : "未确定发布日期" %></small>
</div>

<div class="m-3">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <%= h Milestone, :description %>
      <small><%= edit_button [@project, @milestone] if can? :edit, @milestone %></small>
    </div>
    <div class="card-body">
      <% progress = {
        'pending':    @milestone.issues.with_state(:pending).count / @milestone.issues.without_state(:closed).count.to_f,
        'processing': @milestone.issues.with_state(:processing).count / @milestone.issues.without_state(:closed).count.to_f,
        'processed':  @milestone.issues.with_state(:processed).count / @milestone.issues.without_state(:closed).count.to_f,
        'resolved':   @milestone.issues.with_state(:resolved).count / @milestone.issues.without_state(:closed).count.to_f
      }.transform_values { |f| "#{f * 100}%" } %>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: <%= progress[:pending] %>">待处理</div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: <%= progress[:processing] %>">处理中</div>
        <div class="progress-bar bg-info" role="progressbar" style="width: <%= progress[:processed] %>">已处理</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: <%= progress[:resolved] %>">已解决</div>
      </div>
      <div class="no-margin-bottom">
        <%= markdown_to_html(@milestone.description) %>
        <%= render "shared/attachments_box", attachmentable: @milestone %>
      </div>
    </div>
  </div>
</div>



<div class="m-3">
  <div class="card">
    <div class="card-header">
      <%= "#{@milestone.issues.count} 个关联的问题" %>
    </div>


    <div class="card-body">
      <table class="table">
        <colgroup>
          <col width="5%">
          <col width="20%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
          <col width="20%">
          <col width="20%">
        </colgroup>
        <thead>
          <tr>
            <th><%= sort_link(@q, :id)%></th>
            <th><%= sort_link(@q, :title)%></th>
            <th><%= sort_link(@q, :label_ids)%></th>
            <th><%= sort_link(@q, :state)%></th>
            <th><%= sort_link(@q, :creator_id)%></th>
            <th><%= sort_link(@q, :assignee_id)%></th>
            <th><%= sort_link(@q, :state_at)%></th>
            <th><%= sort_link(@q, :last_edited_at)%></th>
          </tr>
        </thead>
        <tbody>
          <% @issues.each do |issue| %>
            <tr class="<%= 'block-discard' if issue.state.closed? %>">
              <td><%= issue.id %></td>
              <td>
                <%= link_to issue.title, [@project, issue] %>
              </td>
              <td>
                <% issue.labels.each do |label| %>
                  <%= label_badge_tag(label, label.name) %>
                <% end %>
              </td>
              <td>
                <span class="text-issue-<%= issue.state %>">
                  <%= issue.state.text %>
                </span>
              </td>
              <td><%= issue.creator.smart_name %></td>
              <td><%= issue.assignee&.smart_name %></td>
              <td><%=l issue.state_at, format: :simple %></td>
              <% if @task %>
              <td>
                <%= render "relate_issue", project: @project, plan: @task.plan, task: @task, issue: issue %>
              </td>
              <% end %>
              <td><%=l issue.last_edited_at, format: :simple if issue.last_edited_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <nav class="table-pagination">
        <%= paginate @issues %>
      </nav>
    </div>
  </div>
</div>
