<div class="page-header">
  <h2><%= page_i18n :index, model_name: h(@labels) %></h2>
  <div class="ml-3 actions">
    <%= link_to "返回问题", [ @project, Issue ] %>
  </div>
  <% if can? :create, Label %>
    <div class="actions ml-auto">
      <%= new_link Label, [:new, @project, :label] %>
    </div>
  <% end %>
</div>

<table class="table">
  <colgroup>
    <col width="20%">
    <col width="30%">
    <col width="20%">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th><%=h Label, :name %></th>
    <th><%=h Label, :description %></th>
    <th><%=h Label, :issues %></th>
    <th><%= page_i18n :actions %></th>
  </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td>
          <%= link_to [@project, label] do %>
            <%= label_tag label, nil, class: "badge-circle mr-2" %><%= label.name %>
          <% end %>
        </td>
        <td><%= label.description %></td>
        <td><%= label.issues.count %></td>
        <td>
          <%= edit_link [:edit, @project, label, ok_url: request.fullpath ] if can? :update, label %>
          <%= destroy_link [@project, label, ok_url: request.fullpath ] if can? :destroy, label %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @labels %>
</nav>
