<div class="page-header">
  <h2><%= label_tag @label, nil, class: "badge-circle mr-2" %><%= @label.name %></h2>
</div>
<table class="table">
  <colgroup>
    <col width="30%">
    <col width="40%">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th><%=h Issue, :title %></th>
    <th><%=h Issue, :content %></th>
    <th><%=h Issue, :state %></th>
  </tr>
  </thead>
  <tbody>
  <% @label.issues.each do |issue| %>
    <tr>
      <td><%= link_to issue.title, [@project, issue] %></td>
      <td><%= issue.content %></td>
      <td>
        <span class="<%= issue_state_class_name(issue.state, :badge) %>">
        <%= issue.state.text %>
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
