<div class="page-header">
  <h2><%= t "views.page.index", model_name: h(::TestCase) %></h2>
</div>

<%= fume_nav @platform.try(:id) do |n| %>
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item ml-2">
      <%= n.link_to nil, "All Platforms", url_for(params.permit!.merge(platform_id: nil)), class: "nav-link text-muted" %>
    </li>
    <% Platform.all.each do |platform| %>
      <li class="nav-item">
        <%= n.link_to platform.id, platform.name, url_for(params.permit!.merge(platform_id: platform)), class: "nav-link text-muted" %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to "+", [ :new, :platform, ok_url: request.fullpath ], class: "nav-link text-muted" %>
    </li>
    <% if @platform %>
      <li class="nav-item ml-auto">
        <%= edit_link [ :edit, @platform, ok_url: request.fullpath ], class: "nav-link border-0" %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="tab-content">
  <div class="d-flex flex-wrap">
    <% @test_cases.each do |test_case| %>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 pb-4">
        <div class="card card-case">
          <div class="card-body">
            <div class="pull-right">
              <%= edit_link action: :edit, id: test_case, ok_url: request.fullpath %>
            </div>
            <h4 class="card-title" ><%= "##{test_case.id}" %> <%= test_case.title %></h4>

            <p class="line-1 card-text text-muted"><%= test_case.content.lines.first %></p>
            <div>
              <% component = test_case.component %>
              <span class="badge badge-secondary"><%= ([component] + component.ancestors).reverse_each.map(&:name).join(" / ") %></span>
              <% test_case.platforms.each do |platform| %>
                <span class="badge badge-secondary"><%= platform.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <nav class="table-pagination">
    <%= paginate @test_cases %>
  </nav>
</div>

<hr>

<div class="page-actions">
  <%= new_button ::TestCase, action: :new %>
</div>
