<div class="flex-grow-1 mb-3 issue-comment">
  <%= bootstrap_vertical_form_for [comment.issue.project, comment.issue, comment], data: { remote: true, type: "xhrml", target: ".issue-comment" } do |f| %>
    <div class="no-margin-bottom">
      <%= f.input :content, input_html: { class: 'markdown-field' } %>
      <%= render template: "attachments/_upload_area", formats: [ :html ], locals: { attachments: f.object.attachments } %>
    </div>
    <% if f.object.errors.any? %>
      <div class="text-danger text-start mx-3">
        <%= f.object.errors.full_messages.join(", ") %>
      </div>
    <% end %>
    <div class="text-end mt-3 bg-transparent">
      <%= ok_url_tag %>
      <%= f.input :comment_id, as: :hidden %>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
