<div class="modal-header">
  <h5 class="modal-title"><%= @plan.title %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<%= bootstrap_vertical_form_for [@project, @plan, @phase] do |f| %>
  <div class="modal-body">
      <%= f.input :title %>
      <%= f.input :release_revision, hint: "*选填，仅用于备注" %>

      <hr>
      <% if @phase.final_phase? %>
        <p class="text-muted small"><span class="text-body"><%= @plan.phases.ranked.first.tasks.count %></span> 个用例将被重新测试</p>
      <% else %>
        <h5>待测用例</h5>
        <p class="text-muted small"><span class="text-danger"><%= @plan.phases.ranked.last.tasks.where(state: :failure).count %></span> 个失败用例需要重新测试</p>
        <p class="text-muted small"><span class="text-body"><%= @plan.phases.ranked.last.tasks.where(state: :pending).count %></span> 个未测试用例, 将添加到本轮</p>
        <p class="text-muted small"><span class="text-success"><%= @plan.phases.ranked.last.tasks.where(state: :pass).count %></span> 个成功用例将不显示</p>
      <% end %>
  </div>

  <div class="modal-footer">
    <div class="text-end">
      <%= f.submit "确定进入下了一轮", class: "btn btn-success" %>
      <%= link_to "返回", [@project, @plan], class: "btn btn-secondary" %>
      <%= ok_url_tag %>
    </div>
  </div>
<% end %>
