<div class="issue-relationship d-flex align-items-center">
  <% user = issue_relationship.member.user %>
  <%= image_tag user.avatar_url, width: 20, class: "rounded-circle avatar" %>
  <span class="mx-1"><%= issue_relationship.member.name %> 将</span>
  <%= render "projects/issues/relationship/#{issue_relationship.category}.html", issue_relationship: issue_relationship, issue: issue %>

  <span class="small text-muted ms-auto"><%=l issue_relationship.created_at, format: :long %></span>

  <% if can? :delete, issue_relationship %>
    <div class="dropdown dropdown-no-arrow ms-1">
      <button class="btn btn-sm btn-light dropdown-toggle text-muted" data-bs-toggle="dropdown" style="background: transparent;">
        <i class="far fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-end" style="min-width: auto;">
        <% data = { confirm: "确定删除问题的关联？" } %>
        <%= destroy_button [issue.project, issue_relationship.source, issue_relationship ], data: data, class: "small dropdown-item" if can? :destroy, issue_relationship %>
      </div>
    </div>
  <% end %>
</div>
