<div class="d-flex align-items-start">
  <%= image_tag comment.member.user.avatar_url, class: "rounded-circle avatar" %>
  <div class="card flex-grow-1">
    <div class="card-header">
      <%= comment.member.smart_name %>
      <span class="ml-1 small text-muted"><%= create_or_edit_time_in_words(comment) %></span>
      <div class="dropdown float-right dropdown-no-arrow">
        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" style="background: transparent;">
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" style="min-width: 3px;">
          <% data = { type: "xhrml", remote: true, target: "#comment#{comment.id}_content" } %>
          <%= edit_link [comment.issue.project, comment.issue, comment ], class: "small dropdown-item", data: data if can? :edit, comment %>
          <% data = data.merge({ target: ".issue-comment", confirm: "确认删除评论？" }) %>
          <%= destroy_link [comment.issue.project, comment.issue, comment ], class: "small dropdown-item", data: data if can? :destroy, comment %>
          <% if comment.collapsed? %>
            <%= link_to "显示", apply_ok_url([ :fold, comment.issue.project, comment.issue, comment ]), data: { type: "xhrml", remote: true, target: ".issue-overview", replace: true }, class: "small dropdown-item" %>
          <% else %>
            <%= link_to "隐藏", apply_ok_url([ :unfold, comment.issue.project, comment.issue, comment ]), data: { type: "xhrml", remote: true, target: ".issue-comment", replace: true }, class: "small dropdown-item" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body" id="comment<%= comment.id %>_content">
      <div class="no-margin-bottom">
        <%= render "shared/page_content.html", content: comment.content %>
        <%= render "shared/attachments_box.html", attachmentable: comment %>
      </div>
    </div>
  </div>
</div>
