<div class="card-title d-flex bg-white align-items-center">
  <%= image_tag creator.user.avatar_url, width: 20, class: "rounded-circle avatar me-1" %>
  <%= creator.name %><%= "（#{creator.project.name}）" if creator.project_id != @project.id %>
  <span class="ms-1 small text-muted"><%= create_or_edit_time_in_words(issue) %></span>
  <% if can? :edit, issue %>
    <div class="dropdown dropdown-no-arrow ms-auto">
      <button class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" style="background: transparent;">
        <i class="far fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-end" style="min-width: 3px;">
        <% data = { target: "#issue#{issue.id}_content", type: "xhrml", remote: true } %>
        <%= edit_link [project, issue], class: "small dropdown-item", data: data if can? :edit, issue %>
      </div>
    </div>
  <% end %>
</div>
