<% form = capture do %>
  <div>
    <%= form_tag project_issue_path(project, issue), remote: true,
                 method: "patch",
                 class: "form-inline",
                 authenticity_token: true,
                 data: { type: "xhrml", target: ".change-issue-state-area" } do %>
      <div class="form-group-sm">
        <%= select_tag 'issue[state]', options_for_select(Issue.state.options), class: "select2-field", style: "width: 10em;" %>
      </div>
      <%= link_to action_i18n(:cancel), "javascript:void(0)", data: { action: "click->inline-edit#restore" }, class: "small text-muted ml-1" %>
      <%= submit_tag action_i18n(:confirm), class: "btn btn-sm ml-1 btn-primary" %>
    <% end %>
  </div>
<% end %>

<%= content_tag "div", class: "position-right", data: { controller: "inline-edit", template: form } do %>
  <span class="<%= issue_state_class_name(issue.state, :text)%>"><%= issue.state.text %></span>
  <span><%= link_to content_tag(:i, '',class: 'fa fa-pencil-square-o'), "javascript:void(0)", data: { action: "click->inline-edit#replace" }, class: "float-right" %></span>
<% end %>
