<span class="mr-2 mb-1"><%=h Issue, :label_ids %></span>
<% label = Label.where(id: @q.labels_id_eq).take %>
<%= fume_nav label&.id do |n| %>
  <div class="dropdown mr-2 mb-1">
    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
      <%= label_badge_tag label, nil, class: "badge-circle mr-2" %><%= label&.name || page_i18n(:all) %>
    </button>
    <div class="dropdown-menu">
      <%= n.link_to nil, current_url(q: { labels_id_eq: nil }), class: "dropdown-item" do %>
        <%= label_badge_tag nil, nil, class: "badge-circle mr-2" %><%= page_i18n(:all) %>
      <% end %>
      <% @project.labels.each do |label| %>
        <%= n.link_to label.id, current_url(q: { labels_id_eq: label.id }), class: "dropdown-item" do %>
          <%= label_badge_tag label, nil, class: "badge-circle mr-2" %><%= label.name %>
        <% end %>
      <% end %>
      <% if can? :index, Label %>
        <div class="dropdown-divider"></div>
        <%= link_to page_i18n(:index, model_name: h(Label)), "javascript:void(0)", class: "dropdown-item", data: { toggle: "modal", target: "#issue_modal", url: project_labels_path(@project, ok_url: request.fullpath) } %>
      <% end %>
    </div>
  </div>
<% end %>

<span class="mr-2 mb-1"><%=h Issue, :milestone_id %></span>
<% milestone = Milestone.where(id: @q.milestone_id_eq).take %>
<%= fume_nav milestone&.id do |n| %>
  <div class="dropdown mr-2 mb-1">
    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
      <%= milestone&.title || page_i18n(:all) %>
    </button>
    <div class="dropdown-menu">
      <%= n.link_to nil, page_i18n(:all), current_url(q: { milestone_id_eq: nil }), class: "dropdown-item" %>
      <% @project.milestones.last(10).each do |milestone| %>
        <%= n.link_to milestone.id, milestone.title, current_url(q: { milestone_id_eq: milestone.id }), class: "dropdown-item" %>
      <% end %>
      <% if can? :index, Milestone %>
        <div class="dropdown-divider"></div>
        <%= link_to page_i18n(:index, model_name: h(Milestone)), project_milestones_path(@project, ok_url: request.fullpath), class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
<% end %>

<span class="mr-2 mb-1"><%=h Issue, :assignee_id %></span>
<% assignee = @project.members.where(id: @q.assignee_id_eq).take %>
<%= fume_nav assignee&.id do |n| %>
  <div class="dropdown mr-2 mb-1">
    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
      <%= assignee&.name || page_i18n(:all) %>
    </button>
    <div class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
      <%= n.link_to nil, page_i18n(:all), current_url(q: { assignee_id_eq: nil }), class: "dropdown-item" %>
      <% Member.where_exists(issues_scope.where_table(:assignee)).ranked.each do |assignee| %>
        <%= n.link_to assignee.id, assignee.name, current_url(q: { assignee_id_eq: assignee.id }), class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
<% end %>

<span class="mr-2 mb-1"><%=h Issue, :creator_id %></span>
<% creator = @project.members.where(id: @q.creator_id_eq).take %>
<%= fume_nav creator&.id do |n| %>
  <div class="dropdown mr-auto mb-1">
    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
      <%= creator&.name || page_i18n(:all) %>
    </button>
    <div class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
      <%= n.link_to nil, page_i18n(:all), current_url(q: { creator_id_eq: nil }), class: "dropdown-item" %>
      <% @project.members.where_exists(issues_scope.where_table(:creator)).ranked.each do |creator| %>
        <%= n.link_to creator.id, creator.name, current_url(q: { creator_id_eq: creator.id }), class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
<% end %>

<% state_names = Hash[Issue.state.options(except: [:resolved, :closed])].invert.merge("opening" => "未解决", "all" => "全部") %>
<% state_filter = [@q.state_filter].flatten.first %>
<%= fume_nav state_filter do |n| %>
  <div class="btn-group btn-group-sm mb-1" role="group">
    <div class="btn-group" role="group">
      <% opening_states = [ "opening", "pending", "confirmed", "processing" ] %>
      <% if opening_states.include?(state_filter) %>
        <div class="btn btn-sm btn-outline-primary active dropdown-toggle" data-toggle="dropdown"><%= state_names[state_filter] %></div>
      <% else %>
        <%= link_to state_names[opening_states.first], current_url(q: { state_filter: opening_states.first }), class: "btn btn-sm btn-outline-primary" %>
      <% end %>
      <div class="dropdown-menu dropdown-menu-right" style="min-width: 1rem;">
        <% opening_states.each do |value| %>
          <%= n.link_to value, state_names[value], current_url(q: { state_filter: value }), class: "small dropdown-item" %>
        <% end %>
      </div>
    </div>
    <% Issue.state.options(only: [:processed, :resolved, :closed]).each do |text, value| %>
      <%= n.link_to value, "#{text}(#{@issues_state_counts[value] || 0})", current_url(q: { state_filter: value }), class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  </div>
<% end %>
