<% issue_dom_id = dom_id(issue) %>
<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-target="#<%= issue_dom_id %>">
  <%= action_i18n(:relate) %>
</button>
<div class="modal fade" id="<%= issue_dom_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= action_i18n('relate') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= issue.title_with_priority %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= action_i18n(:cancel) %></button>
        <%= link_to action_i18n(:relate), project_plan_task_url(project, plan, task, task: { issue_id: issue.id }), method: :patch, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
