<% form = capture do %>
    <div>
      <%= form_tag project_issue_path(project, issue), remote: true,
                   method: "patch",
                   class: "form-inline",
                   authenticity_token: true,
                   data: { type: "xhrml", target: ".change-issue-#{type}-area" } do %>
          <div class="form-group-sm">
            <% if type == "state" %>
              <%= select_tag 'issue[state]', options_for_select(Issue.state.options), class: "select2-field", style: "width: 10em;" %>
            <% end %>
            <% if type == "assignee" %>
              <%= select_tag 'issue[assignee_id]', options_for_select(User.all.map{ |u| [u.name, u.id] }), class: "select2-field", style: "width: 10em;" %>
            <% end %>
            <% if type == "label" %>
              <%= select_tag 'issue[label_ids]', options_for_select(project.labels.map{ |l| [l.name, l.id] }), multiple: true, class: "select2-field", style: "width: 10em;" %>
            <% end %>
            <% if type == "milestone" %>
              <%= select_tag 'issue[milestone_id]', options_for_select(project.milestones.map{ |m| [m.title, m.id] }), class: "select2-field", style: "width: 10em;" %>
            <% end %>
          </div>
          <%= link_to action_i18n(:cancel), "javascript:void(0)", data: { action: "click->inline-edit#restore" }, class: "small text-muted ml-1" %>
          <%= submit_tag action_i18n(:confirm), class: "btn btn-sm ml-1 btn-primary" %>
      <% end %>
    </div>
<% end %>

<%= content_tag "div", class: "position-right", data: { controller: "inline-edit", template: form } do %>

  <% if type == "state" %>
    <span class="text-issue-<%= issue.state %>"><%= issue.state.text %></span>
    <span><%= link_to content_tag(:i, '',class: 'far fa-edit'), "javascript:void(0)", data: { action: "click->inline-edit#replace" }, class: "float-right" %></span>
  <% end %>

  <% if type == "assignee" %>
    <% if issue.assignee %>
      <% user = issue.assignee.user %>
      <%= image_tag user.avatar_url, height: 20, class: "rounded-circle" %>
      <span class="badge mb-1"><%=issue.assignee.name %></span>
      <span><%= link_to content_tag(:i, '',class: 'far fa-edit'), "javascript:void(0)", data: { action: "click->inline-edit#replace" }, class: "float-right" %></span>
    <% end %>
  <% end %>

  <% if type == "label" %>
    <% issue.labels.each do |label| %>
      <span class="badge mb-1 text-white text-left" style="background-color: <%= label.color%>"><%=label.name %></span>
    <% end %>
    <span><%= link_to content_tag(:i, '',class: 'far fa-edit'), "javascript:void(0)", data: { action: "click->inline-edit#replace" }, class: "float-right" %></span>
  <% end %>

  <% if type == "milestone" %>
    <div class="d-flex align-items-center">
      <% if issue.milestone %>
        <div class="progress flex-1">
          <% total = issue.milestone.issues.count %>
          <% finished_issue = issue.milestone.issues.where(state: "solved").count %>
          <div class="progress-bar bg-success" style="width: <%= 100 * finished_issue / total %>%"></div>
          <span class="progress-text"><%= issue.milestone.title %></span>
        </div>
        <span class="badge text-right"><%= 100 * finished_issue / total %>%</span>
      <% end %>
      <span><%= link_to content_tag(:i, '',class: 'far fa-edit'), "javascript:void(0)", data: { action: "click->inline-edit#replace" }, class: "float-right" %></span>
    </div>
  <% end %>

<% end %>
