<div class="page-header">
  <h2><%= page_i18n :edit, model_name: h(@issue) %></h2>
</div>

<div class="container">
  <%= bootstrap_vertical_form_for [ @project, @task, @issue ], permit_for: issue_params_names do |f| %>
    <%= f.input :title %>

    <hr>

    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
    <%= cancel_link [@project, @task, @issue], class: "btn btn-secondary" %>
  <% end %>
</div>
