<div class="page-header">
  <h2><%= page_i18n :edit, model_name: h(@issue) %></h2>
</div>

<div class="container">
  <%= bootstrap_vertical_form_for [ @project, @task, @issue ], permit_for: issue_params_names do |f| %>
    <%= f.input :title %>
    <%= f.association :subscribed_users, as: :check_boxes, disabled: false if can? :index, Member %>

    <hr>

    <%= ok_url_tag %>

    <%= f.submit class: "btn btn-primary" %>

    <%= cancel_button ok_url_or_default([@project, @task, @issue]) %>

    <%= link_to apply_ok_url([:edit_project, @project, @issue]), class: "btn btn-warning" do %>
      <i class="far fa-exchange-alt me-1"></i> 迁移到其它项目
    <% end %>
  <% end %>

</div>

