<div class="page-header">
  <h2><%= page_i18n :edit, model_name: h(@issue) %></h2>
</div>

<div class="container">
  <%= bootstrap_vertical_form_for [ @project, @task, @issue ], permit_for: issue_params_names do |f| %>
    <%= f.input :title %>
    <%= f.association :subscribed_users, as: :check_boxes, disabled: false if can? :index, Member %>

    <hr>

    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
    <%= cancel_button [@project, @task, @issue] %>
  <% end %>
</div>
