<div class="page-header">
  <h2><%= page_i18n :edit, model_name: h(@issue) %></h2>
</div>

<div class="container">
  <%= bootstrap_vertical_form_for [ @project, @task, @issue ], permit_for: issue_params_names do |f| %>

    <%= f.input :title %>

    <%= f.input :category_id,
      collection: @project.categories,
      input_html: { class: "select2-field" } %>

    <%= f.input :assignee_id,
      collection: @project.available_issue_assignees_with_group,
      as: :grouped_select,
      group_method: :last,
      group_label_method: :first,
      label_method: :name %>

    <%= f.input :creator_id,
      collection: @project.members,
      label_method: :name,
      input_html: { class: "select2-field" } %>

    <%= ok_url_tag %>

    <% if f.object.errors.any? %>
      <div class="mb-3">
        <span class="text-danger">请解决以下问题:</span>
        <div class="text-danger text-start mx-3">
        <ul>
          <% f.object.errors.each do |key, msg| %>
          <li><%= h Issue, key %> <%= msg %></li>
          <% end %>
        </ul>
        </div>
      </div>
    <% end %>

    <%= f.submit class: "btn btn-primary" %>

    <%= cancel_button ok_url_or_default([@project, @task, @issue]) %>

    <%= link_to apply_ok_url([:edit_project, @project, @issue]), class: "btn btn-warning" do %>
      <i class="far fa-exchange-alt me-1"></i> 迁移到其它项目
    <% end %>
  <% end %>

</div>

