<div class="container">
  <%= bootstrap_vertical_form_for @issue, url: [@project, @issue] do |f| %>
    <%= render template: "projects/issues/_form", formats: [ :html ], locals: { f: f } %>
    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
    <%= cancel_button [@project, @issue] %>
  <% end %>
</div>
