<div class="page-header">
  <h2><%= page_i18n :index, model_name: h(@issues) %></h2>
  <div class="ml-3 actions">
    <%= link_to h(Label), project_labels_path(@project) %>
  </div>
</div>

<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center mb-2">
    <span class="mr-2"><%=h Issue, :label_ids %></span>
    <% label = Label.where(id: @q.labels_id_eq).take %>
    <%= fume_nav label&.id do |n| %>
      <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
          <%= label_tag label, nil, class: "badge-circle mr-2" %><%= label&.name || page_i18n(:all) %>
        </button>
        <div class="dropdown-menu">
          <%= n.link_to nil, current_url(q: { labels_id_eq: nil }), class: "dropdown-item" do %>
            <%= label_tag nil, nil, class: "badge-circle mr-2" %><%= page_i18n(:all) %>
          <% end %>
          <% @project.labels.each do |label| %>
            <%= n.link_to label.id, current_url(q: { labels_id_eq: label.id }), class: "dropdown-item" do %>
              <%= label_tag label, nil, class: "badge-circle mr-2" %><%= label.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <span class="ml-2 mr-2"><%=h Issue, :milestone_id %></span>
    <% milestone = Milestone.where(id: @q.milestone_id_eq).take %>
    <%= fume_nav milestone&.id do |n| %>
      <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
          <%= milestone&.title || page_i18n(:all) %>
        </button>
        <div class="dropdown-menu">
          <%= n.link_to nil, page_i18n(:all), current_url(q: { milestone_id_eq: nil }), class: "small dropdown-item" %>
          <% @project.milestones.each do |milestone| %>
            <%= n.link_to milestone.id, milestone.title, current_url(q: { milestone_id_eq: milestone.id }), class: "small dropdown-item" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= fume_nav @q.state_eq do |n| %>
    <div class="btn-group btn-group-sm mb-2 ml-2" role="group">
      <%= n.link_to nil, page_i18n(:all), current_url(q: { state_eq: nil }), class: "btn btn-outline-primary" %>
      <% Issue.state.values.each do |value| %>
        <%= n.link_to value, value.text, current_url(q: { state_eq: value }), class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  <% end %>
</div>

<table class="table">
  <colgroup>
    <col width="15%">
    <col width="30%">
    <col width="15%">
    <col width="10%">
    <col width="20%">
    <col>
  </colgroup>
    <tr>
      <th><%= sort_link(@q, :title)%></th>
      <th><%= sort_link(@q, :label_ids)%></th>
      <th><%= sort_link(@q, :milestone_id)%></th>
      <th><%= sort_link(@q, :creator_id)%></th>
      <th><%= sort_link(@q, :created_at)%></th>
      <th><%= sort_link(@q, :state)%></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td>
          <%= link_to issue.title, [@project, issue] %>
        </td>
        <td>
          <% issue.labels.each do |label| %>
              <%= label_tag(label, label.name) %>
          <% end %>
        </td>
        <td>
          <% if issue.milestone %>
            <%= issue.milestone.title %>
          <% end %>
        </td>
        <td><%= issue.creator.name %></td>
        <td><%=l issue.created_at, format: :long %></td>
        <td>
          <span class="<%= issue_state_class_name(issue.state, :text) %>">
          <%= issue.state.text %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @issues %>
</nav>
