<div class="page-header">
  <h3><%= @task.test_case.title %></h3>
  <div class="ml-2">
    <%= task_state_with_icon(@task.state) %>
    <span class="badge badge-secondary ml-2"><%= @task.platform.name %></span>
  </div>
</div>

<h4 class="mb-5"><%= page_i18n :new, model_name: h(@issue) %></h4>

<div class="container">
  <%= bootstrap_vertical_form_for @issue, url: [@project, @task, @issue] do |f| %>
    <%= f.input :title %>
    <%= f.input :content, input_html: { class: 'markdown-field' } %>
    <%= render "attachments/upload_area.html.erb", attachments: f.object.attachments %>
    <hr>
    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
    <%= cancel_link [@project, @task, @issue], class: "btn btn-secondary" %>
  <% end %>
</div>
