<% if @task %>
  <div class="page-header">
    <h3><%= @task.test_case.title %></h3>
    <div class="ml-2">
      <%= task_state_with_icon(@task.state) %>
      <span class="badge badge-secondary ml-2"><%= @task.platform.name %></span>
    </div>
  </div>
  <h4 class="mb-5"><%= page_i18n :new, model_name: h(@issue) %></h4>
<% else %>
  <div class="page-header">
    <h2><%= page_i18n :new, model_name: h(@issue) %></h2>
  </div>
<% end %>

<div class="container">
  <%= bootstrap_vertical_form_for [ @project, @task, @issue ], permit_for: issue_params_names do |f| %>
    <%= f.input :title %>
    <%= f.input :creator_id, collection: @project.members, label_method: :name, input_html: { class: "select2-field" } %>
    <%= f.input :content, input_html: { class: 'markdown-field' } %>
    <%= render "attachments/upload_area.html.erb", attachments: f.object.attachments %>

    <hr>

    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
    <%= cancel_button [@project, @task, @issue] %>
  <% end %>
</div>
