<div class="page-header">
  <h2 class="mr-1"><%= title(@issue.title) %></h2>
  <div class="text-primary">#<%= @issue.id %></div>
  <div class="ml-auto actions">
    <%= edit_button [@project, @issue] if can? :edit, @issue %>
  </div>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-9">
      <% @issue.issue_forms.ranked.each do |issue_form| %>
        <% if issue_form.state.pending? %>
          <div class="alert alert-danger">
            该工单需要提供更多信息，请按照模版
            <%= link_to "补充工单", "javascript:void(0)", data: { toggle: "modal", target: "#applicationModal", url: apply_ok_url([:edit, @project, @issue, issue_form]) }, class: "alert-link" %>
            <%= "，备注：#{issue_form.remark}" if issue_form.remark.present? %>
          </div>
        <% else %>
          <%= render "shared/issue_form_content", issue_form: issue_form %>
        <% end %>
      <% end %>

      <div class="issue-content">
        <div class="d-flex align-items-start">
          <% user = @issue.creator.user %>
          <%= image_tag user.avatar_url, width: 60, class: "rounded-circle avatar" %>
          <div class="card flex-grow-1">
            <%= render "shared/card_header", issue: @issue, creator: @issue.creator, project: @project %>
            <div class="card-body" id="issue<%= @issue.id %>_content">
              <div class="no-margin-bottom">
                <div>
                  <%= render "shared/page_content", content: @issue.content %>
                  <%= render "shared/attachments_box", attachmentable: @issue %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% @issue.tasks.ranked.each do |task| %>
        <%= render "card_task", task: task %>
      <% end %>

      <%= render "projects/comments/comment_list.html", issue: @issue %>

      <%= render "projects/comments/form", issue: @issue if can? :create, Comment %>

    </div>
    <div class="col-sm-3">
      <h5><%=h Issue, :created_at %></h5>
      <span><%=l @issue.created_at, format: :long %></span>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :state } do |f| %>
          <%= f.input :state, collection: Issue.state.options %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :state, issue: @issue } do %>
        <span class="text-issue-<%= @issue.state %>"><%= @issue.state.text %></span>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :creator_id } do |f| %>
          <% disabled = cannot? :critical, @issue %>
          <%= f.input :creator_id, collection: @project.members, label_method: :name, disabled: disabled %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :creator_id, issue: @issue } do %>
        <% if @issue.creator %>
          <% user = @issue.creator.user %>
          <%= image_tag user.avatar_url, height: 20, class: "rounded-circle" %>
          <span class="badge mb-1"><%= @issue.creator.name %></span>
        <% end %>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :assignee_id } do |f| %>
          <% grouped_assignees = @project.members.sort_by { |x| x.role.developer? ? 0 : 1 }.group_by(&:role_text) %>
          <%= f.input :assignee_id, collection: grouped_assignees, as: :grouped_select, group_method: :last, group_label_method: :first, label_method: :name %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :assignee_id, issue: @issue } do %>
        <% if @issue.assignee %>
          <% user = @issue.assignee.user %>
          <%= image_tag user.avatar_url, height: 20, class: "rounded-circle" %>
          <span class="badge mb-1"><%=@issue.assignee.name %></span>
        <% end %>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :label_ids } do |f| %>
          <%= f.input :label_ids, collection: @project.labels, input_html: { multiple: true, class: "form-control-sm select2-field" } %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :label_ids, issue: @issue } do %>
        <% @issue.labels.each do |label| %>
          <%= label_badge_tag label, label.name, class: "mb-1 d-block text-left" %>
        <% end %>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :milestone_id } do |f| %>
          <%= f.input :milestone_id, collection: @project.milestones.ranked %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :milestone_id, issue: @issue } do %>
        <% if @issue.milestone %>
          <div class="d-flex align-items-center">
            <div class="progress flex-1">
              <% total = @issue.milestone.issues.without_state(:closed).count %>
              <% finished_issue = @issue.milestone.issues.with_state(:resolved).count %>
              <div class="progress-bar bg-success" style="width: <%= 100 * finished_issue / total %>%"></div>
              <span class="progress-text"><%= @issue.milestone.title %></span>
            </div>
            <span class="badge text-right"><%= 100 * finished_issue / total %>%</span>
          </div>
        <% end %>
      <% end %>

      <hr>

      <div class="d-flex flex-column">
        <div class="h5"><%=h Subscription %></div>
        <div class="mt-1">
          <% if current_user.subscribed?(@issue) %>
            <%= render template: "projects/subscriptions/show.xhrml" %>
          <% else %>
            <%= render template: "projects/subscriptions/new.xhrml" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_tag :div, id: "duplicate-issue", class: "modal", role: "dialog" do %>
<% end %>
