<div class="page-header">
  <h2><%= @issue.title %></h2>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div class="d-flex align-items-start">
        <% user = @issue.creator.user %>
        <%= image_tag user.avatar_url, width: 60, class: "rounded-circle" %>
        <div class="col pr-0">
          <div class="card">
            <%= render "shared/card_header", issue: @issue, creator: @issue.creator, project: @project %>
            <div class="card-body" id="issue<%= @issue.id %>_content">
              <div class="no-margin-bottom">
                <div>
                  <%= render "shared/page_content", content: @issue.content %>
                  <%= render "shared/attachments_box", attachmentable: @issue %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex mb-4 border-bottom" style="padding-left: 60px;">
        <div class="col">
          <div class="border-left ml-4 p-3 pr-0">
            <div class="no-margin-bottom">
              <% @issue.tasks.ranked.each do |task| %>
                <%= render "shared/card_issue_task", task: task %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% @issue.comments.history.each do |comment| %>
        <%= render "projects/comments/comments", comment: comment %>
      <% end %>

      <%= render "projects/comments/form", issue: @issue if can? :create, Comment %>

    </div>
    <div class="col-sm-3">
      <h5><%=h Issue, :created_at %></h5>
      <span><%=l @issue.created_at, format: :long %></span>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :state } do |f| %>
          <%= f.input :state, collection: Issue.state.options %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :state } do %>
        <span class="<%= issue_state_class_name(@issue.state, :text)%>"><%= @issue.state.text %></span>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :creator_id } do |f| %>
          <% disabled = cannot? :critical, @issue %>
          <%= f.input :creator_id, collection: @project.members, label_method: :smart_name, disabled: disabled %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :creator_id } do %>
        <% if @issue.creator %>
          <% user = @issue.creator.user %>
          <%= image_tag user.avatar_url, height: 20, class: "rounded-circle" %>
          <span class="badge mb-1"><%= @issue.creator.smart_name %></span>
        <% end %>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :assignee_id } do |f| %>
          <%= f.input :assignee_id, collection: @project.members, label_method: :smart_name  %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :assignee_id } do %>
        <% if @issue.assignee %>
          <% user = @issue.assignee.user %>
          <%= image_tag user.avatar_url, height: 20, class: "rounded-circle" %>
          <span class="badge mb-1"><%=@issue.assignee.smart_name %></span>
        <% end %>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :label_ids } do |f| %>
          <%= f.input :label_ids, collection: @project.labels, input_html: { multiple: true, class: "form-control-sm select2-field" } %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :label_ids } do %>
        <% @issue.labels.each do |label| %>
          <%= label_tag label, label.name, class: "mb-1 d-block text-left" %>
        <% end %>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :milestone_id } do |f| %>
          <%= f.input :milestone_id, collection: @project.milestones %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :milestone_id } do %>
        <% if @issue.milestone %>
          <div class="d-flex align-items-center">
            <div class="progress flex-1">
              <% total = @issue.milestone.issues.count %>
              <% finished_issue = @issue.milestone.issues.where(state: "solved").count %>
              <div class="progress-bar bg-success" style="width: <%= 100 * finished_issue / total %>%"></div>
              <span class="progress-text"><%= @issue.milestone.title %></span>
            </div>
            <span class="badge text-right"><%= 100 * finished_issue / total %>%</span>
          </div>
        <% end %>
      <% end %>

      <hr>

      <div class="d-flex flex-column">
        <div class="h5"><%=h Subscription %></div>
        <div class="mt-1" id="issue_<%= @issue.id%>_user_<%= current_user.id %>">
          <% data = { remote: true, type: "xhrml", target: "#issue_#{@issue.id}_user_#{current_user.id}" } %>
          <% if current_user && current_user.subscribed?(@issue) %>
            <% @subscription = current_user.subscriptions.where(issue_id: @issue.id).take! %>
            <%= link_to "取消订阅",  [@project, @issue, @subscription], method: :delete, data: data, class: "btn border border-secondary bg-light w-100 text-dark" %>
          <% else %>
           <%= link_to "订阅", [@project, @issue, Subscription], method: :post, data: data, class: "btn border border-secondary bg-light w-100 text-dark" %>
          <% end %>
          <%= render "projects/subscriptions/subscribed_users.html", issue: @issue %>
        </div>
      </div>
    </div>
  </div>
</div>
