<div class="page-header d-flex">
  <% if @issue.state.resolved? %>
    <s><h2 class="me-1"><%= title(@issue.title_with_priority) %></h2></s>
    <span class="me-1">
      <%= badge_issue_state(@issue.state) %>
    </span>
  <% else %>
    <h2 class="me-1"><%= title(@issue.title_with_priority) %></h2>
  <% end %>
  <div>#<%= @issue.id %></div>
  <div class="ms-auto actions">
    <%= edit_button [@project, @issue] if can? :edit, @issue %>
  </div>
</div>


<div class="row">
  <div class="col-12 col-md-9 order-1 order-md-0 mb-5">
    <% if @issue.task %>
      <%= render "related_task", task: @issue.task %>
    <% end %>

    <% @issue.issue_infos.ranked.each do |issue_info| %>
      <%= render "shared/issue_info_content", issue_info: issue_info %>
    <% end %>

    <div class="issue-content">
      <div class="d-flex align-items-start">
        <% user = @issue.creator.user %>
        <div class="card flex-grow-1 mb-3">
          <div class="card-body" id="issue<%= @issue.id %>_content">
            <%= render "card_header", issue: @issue, creator: @issue.creator, project: @project %>
            <div class="card-text no-margin-bottom">
              <div>
                <%= render "shared/page_content", content: @issue.content %>
                <%= render "shared/attachments_box", attachmentable: @issue %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render "projects/comments/comment_list.html", issue: @issue %>

    <div class="card mt-5">
      <div class="card-body">
        <h6 class="card-title">提供更多信息</h6>
        <div class="d-flex">

          <button class="btn btn-sm btn-primary" data-bs-toggle="collapse" data-bs-target="#newComment">
            <i class="far fa-comment me-1"></i> 新增评论
          </button>

          <%= link_to "#", 
            data: {
              bs_toggle: "modal",
              bs_target: "#applicationModal",
              remote: true,
              url: apply_ok_url([ :new, @project, @issue, :issue_relationship])
            },
            class: "btn btn-primary btn-sm ms-2" do %>
            <i class="far fa-link me-1"></i>关联其它问题
          <% end %>

          <% if @issue.state.resolved? %>
            <div class="btn-group ms-auto" role="group">
              <%= link_to apply_ok_url([:archive, @project, @issue]),
                method: :post,
                class: "btn btn-sm btn-outline-success",
                data: { confirm: "确认后将归档该问题, 无法编辑, 是否确认问题已解决？" } do %>
                <i class="far fa-check me-1"></i>已解决
              <% end if can? :archive, @issue %>

              <%= link_to apply_ok_url([ :unresolve, @project, @issue ]),
                data: {
                  bs_toggle: "modal",
                  bs_target: "#applicationModal",
                  remote: true,
                  url: apply_ok_url([ :unresolve, @project, @issue ])
                }, class: "btn btn-sm btn-outline-danger" do %>
                <i class="far fa-times me-1"></i>未解决
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="collapse mt-3" id="newComment">
          <%= render "projects/comments/form", issue: @issue if can? :create, Comment %>
        </div>
      </div>
    </div>
  </div>





  <div class="col-12 col-md-3 order-0 order-md-1">
    <button class="btn btn-secondary btn-block d-md-none" type="button" data-bs-toggle="collapse" data-target="#issueDetailCollapse">
      问题设置
    </button>

    <div class="collapse d-md-block" id="issueDetailCollapse">
      <h5 class="mt-2"><%=h Issue, :created_at %></h5>
      <span><%=l @issue.created_at, format: :long %></span>
      <hr>
      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :state } do |f| %>
          <%= f.input :state, collection: Issue.state.options(except: :archived) %>
        <% end %>
      <% end %>


      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :state, issue: @issue } do %>
        <span class="text-issue-<%= @issue.state %>"><%= @issue.state.text %></span>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :priority } do |f| %>
          <%= f.input :priority, collection: Issue.priority.options, include_blank: false %>
        <% end %>
      <% end %>


      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :priority, issue: @issue } do %>
        <span class="text-issue-priority-<%= @issue.priority %>"><%= @issue.priority_text %></span>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :creator_id } do |f| %>
          <% disabled = cannot? :critical, @issue %>
          <% grouped_creators = @project.members.sort_by { |x| x.role.reporter? ? 0 : 1 }.group_by(&:role_text) %>
          <%= f.input :creator_id, collection: grouped_creators, as: :grouped_select, group_method: :last, group_label_method: :first, label_method: :name %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :creator_id, issue: @issue } do %>
        <% if @issue.creator %>
          <% user = @issue.creator.user %>
          <%= image_tag user.avatar_url, height: 20, class: "rounded-circle" %>
          <span class="mb-1"><%= @issue.creator.name %></span>
        <% end %>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :assignee_id } do |f| %>

          <%= f.input :assignee_id,
                collection: @project.available_issue_assignees_with_group,
                as: :grouped_select,
                group_method: :last,
                group_label_method: :first,
                label_method: :name
                %>

        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :assignee_id, issue: @issue } do %>
        <% if @issue.assignee %>
          <% user = @issue.assignee.user %>
          <%= image_tag user.avatar_url, height: 20, class: "rounded-circle" %>
          <span class="mb-1"><%=@issue.assignee.name %></span>
        <% end %>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :category_id } do |f| %>
          <%= f.input :category_id, collection: @project.categories, input_html: { class: "form-control-sm select2-field" } %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :category_id, issue: @issue } do %>
          <%= category_badge_tag @issue.category, @issue.category.name, class: "mb-1 d-block text-start" if @issue.category %>
      <% end %>

      <hr>

      <% form = capture do %>
        <%= render layout: "attribute_inline_form", locals: { attribute_name: :milestone_id } do |f| %>
          <%= f.input :milestone_id, collection: @project.milestones.ranked %>
        <% end %>
      <% end %>

      <%= render layout: "attribute_info", locals: { template: form, attribute_name: :milestone_id, issue: @issue } do %>
        <% if @issue.milestone %>
          <div class="d-flex align-items-center">
            <div class="progress flex-1">
              <% total = @issue.milestone.issues.without_state(:closed).count %>
              <% finished_issue = @issue.milestone.issues.with_state(:resolved).count %>
              <div class="progress-bar bg-success" style="width: <%= 100 * finished_issue / total %>%"></div>
              <span class="progress-text"><%= @issue.milestone.title %></span>
            </div>
            <span class="badge text-end"><%= 100 * finished_issue / total %>%</span>
          </div>
        <% end %>
      <% end %>

      <hr>

      <div class="d-flex flex-column">
        <div class="h5"><%=h Subscription %></div>
        <div class="mt-1">
          <% if current_user.subscribed?(@issue) %>
            <%= render template: "projects/subscriptions/show.xhrml" %>
          <% else %>
            <%= render template: "projects/subscriptions/new.xhrml" %>
          <% end %>
        </div>
      </div>
    </div>

    <hr>

  </div>
</div>
