<div class="modal-header">
  <h5 class="modal-title"><%= @task.test_case.title %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<%= bootstrap_vertical_form_for [@project, @plan, @task], data: { remote: true, type: 'xhrml', target: ".modal-content" } do |f| %>
  <div class="modal-body">
      <%= f.input :state,
          collection: Task.state.options
      %>
      <% if !@task.issues.empty? %>
        <h5>补充工单详情</h5>
        <div class="border rounded p-3">
          <%= f.simple_fields_for :issues do |ff| %>
            <%= ff.input :title, label: "工单标题" %>
            <%= ff.input :content, label: "工单内容", input_html: { class: 'markdown-field' } %>
            <%= ff.input :assignee_id, label: "工单受理人",
                  collection: @project.available_issue_assignees_with_group,
                  as: :grouped_select,
                  group_method: :last,
                  group_label_method: :first,
                  label_method: :name
                %>
          <% end %>
        </div>
      <% end %>
  </div>

  <div class="modal-footer">
    <div class="text-end">
      <%= f.submit "保存", class: "btn btn-warning" %>
      <%= link_to "不保存返回", project_plan_task_path(@project, @plan, @task), data: { remote: true, type: 'xhrml', target: ".modal-content" }, class: "btn btn-secondary" %>
      <%= ok_url_tag %>
    </div>
  </div>
<% end %>
