<%= bootstrap_horizontal_form_for plan do |f| %>
  <%= f.input :title %>

  <div class="form-group">
    <label class="col-form-label text-sm-right string required col-sm-3 col-lg-2 ">Start at </label>
    <%= f.text_field :start_at, class: 'timepicker' %>
  </div>

  <!--<div class="form-group">-->
    <!--<label class="col-form-label text-sm-right string required col-sm-3 col-lg-2 ">Start at </label>-->
    <!--<%= f.text_field :start_at, class: 'timepicker' %>-->
  <!--</div>-->

  <% if plan.new_record? %>
    <%= f.input :platform_ids, collection: Platform.all, as: :check_boxes, input_html: { name: "platform_ids[]" } %>

    <% @components_mapping = Component.available.group_by(&:parent_id) %>
    <%= f.input :component_ids do %>
      <ul class="list-unstyled pt-1">
        <%= render "component_check_boxes", key: nil %>
      </ul>
    <% end %>
  <% end %>

  <hr>

  <%= f.actions_content do %>
    <%= ok_url_tag %>
    <%= f.submit class: "btn btn-primary" %>
    <%= cancel_link url_for(action: :index), class: "btn btn-link" %>
  <% end %>
<% end %>


