<div class="page-header">
  <h2><%= t "views.page.index", model_name: h(Plan) %></h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= ::TestCase.human_attribute_name(:title) %></th>
      <th><%= t "views.page.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.title %></td>
        <td>
          <%= show_link action: :show, id: plan, ok_url: request.fullpath %>
          <%= edit_link action: :edit, id: plan, ok_url: request.fullpath %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @plans %>
</nav>

<hr>

<div class="page-actions">
  <%= new_button Plan, action: :new %>
</div>
