<% task_scope = @tasks.with_test_case.with_platform %>

<% @tasks_mapping = task_scope.group_by(&:test_case) %>
<% @test_cases_mapping = @tasks_mapping.keys.group_by(&:component) %>
<% component_ids = @test_cases_mapping.keys.flat_map(&:ancestor_ids_with_self).uniq %>
<% @components_mapping = Component.where(id: component_ids).group_by(&:parent_id) %>

<div class="page-header">
  <h3><%= @plan.title %></h3>
</div>
<ul class="list-unstyled">
  <% if @components_mapping.empty? %>
    Empty
  <% else %>
    <%= render "components", key: nil %>

    <div id="uploadAttachmentsModal" class="modal fade" data-url="<%= attachments_path %>" data-method="POST">
      <div class="modal-dialog">
          <div class="modal-content">
          </div>
      </div>
    </div>
  <% end %>
</ul>

<% content_for :sidebar do %>
  <h5>State</h5>
  <%= fume_nav params.dig(:q, :state_eq), active_class: "text-dark" do |n| %>
    <ul class="list-unstyled">
      <% ([["All", nil]] + Task.state.options).each do |key, value| %>
        <li>
          <%= n.apply_content value do |active_class| %>
            <%= link_to [@plan, q: { state_eq: value }], class: active_class do %>
              <span class="fa fa-fw <%= 'fa-angle-right' if active_class %>"></span><%= key %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
