<div class="page-header">
  <h2><%= t "views.page.show", model_name: @plan.model_name.human %></h2>
</div>

<h5><%= @plan.title %></h5>

<table class="table">
  <thead>
    <tr>
      <th><%= ::TestCase.human_attribute_name(:title) %></th>
      <th><%= ::TestCase.human_attribute_name(:content) %></th>
      <th><%= ::TestCase.human_attribute_name(:platform) %></th>
      <th><%= Task.human_attribute_name(:state) %></th>
      <th><%= t "views.page.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @plan.tasks.each do |task| %>
      <% test_case = task.test_case %>
      <tr>
        <td><%= test_case.title %></td>
        <td><%= test_case.content %></td>
        <td><%= task.platform.name %></td>
        <td><%= task_state_text(task) %></td>
        <td>
          <%= link_to "Pass", [ @plan, task, task: { state: :pass } ], method: :patch %>
          <%= link_to "Failure", [ @plan, task, task: { state: :failure } ] , method: :patch %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
