<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark sticky-top tp-navbar">
  <%= link_to t('views.navbar.test_point'), root_path, class: "navbar-brand" %>
  <div class="navbar-nav-scroll">
    <%= fume_nav current do |n| %>
      <ul class="navbar-nav flex-row">
        <%= n.li_tag "cases", class: "nav-item" do %>
          <%= link_to t('views.navbar.cases'), [::TestCase], class: "nav-link" %>
        <% end %>
        <%= n.li_tag "plans", class: "nav-item" do %>
          <%= link_to t('views.navbar.plans'), [Plan], class: "nav-link" %>
        <% end %>
        <%= n.li_tag "Issues", class: "nav-item" do %>
          <%= link_to t('views.navbar.issues'), [Issue], class: "nav-link" %>
        <% end %>
        <%= n.li_tag "Users", class: "nav-item" do %>
          <%= link_to t('views.navbar.users'), [User], class: "nav-link" %>
        <% end %>
      </ul>
    <% end %>
  </div>

    <ul class="navbar-nav flex-row ml-md-auto">
      <!--switch language-->
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--<%=t('language_switch') %>-->
        <!--</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--<div class="dropdown-item dropdown-menu-right">-->
            <!--<% if I18n.locale.to_s == 'en' %>-->
              <!--<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-CN" %>-->
            <!--<% elsif I18n.locale.to_s == 'zh-CN' %>-->
              <!--<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>-->
            <!--<% end %>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->

    <% if user_signed_in? %>
    <li class="nav-item dropdown">
      <%= link_to current_user.email, "#", class: "nav-link dropdown-toggle", data: { toggle: "dropdown" } %>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to t('views.devise.signout'), destroy_user_session_path, class: "dropdown-item", method: :delete %>
      </div>
    </li>
    <% else %>
      <li class="nav-item"><%= link_to t('views.devise.login'), new_user_session_path, class: "nav-link" %></li>
    <% end %>
  </ul>
</nav>
