<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark sticky-top tp-navbar">
  <%= link_to "Testpoint", root_path, class: "navbar-brand" %>
  <% if current_project %>
    <div class="dropdown">
      <button class="btn btn-sm dropdown-toggle text-white border-0" data-toggle="dropdown" style="background: transparent;">
        <%= current_project.name %>
      </button>
      <div class="dropdown-menu" style="min-width: 3px;">
        <% if current_user.superadmin? %>
          <% projects = Project.all %>
        <% else %>
          <% projects = current_user.projects %>
        <% end %>
        <% projects.each do |project| %>
          <%= link_to project.name, project_path(project), class: "small dropdown-item" %>
        <% end %>
      </div>
    </div>
    <div class="navbar-nav-scroll">
      <%= fume_nav current do |n| %>
        <ul class="navbar-nav">
          <%= n.li_tag "cases", class: "nav-item" do %>
            <%= link_to t('views.navbar.cases'), [current_project, ::TestCase], class: "nav-link" if can? :read, TestCase %>
          <% end %>
          <%= n.li_tag "plans", class: "nav-item" do %>
            <%= link_to t('views.navbar.plans'), [current_project, Plan], class: "nav-link" if can? :read, Plan %>
          <% end %>
          <%= n.li_tag "Issues", class: "nav-item" do %>
            <%= link_to t('views.navbar.issues'), [current_project, Issue], class: "nav-link" if can? :read, Issue %>
          <% end %>
          <%= n.li_tag "Members", class: "nav-item" do %>
            <%= link_to t('views.navbar.members'), [current_project, Member], class: "nav-link" if can? :read, Member %>
          <% end %>
          <%= n.li_tag "Milestones", class: "nav-item" do %>
            <%= link_to t('views.navbar.milestones'), [current_project, Milestone], class: "nav-link" if can? :read, Milestone %>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <ul class="navbar-nav ml-md-auto">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <%= link_to "#", class: "nav-link dropdown-toggle py-0", data: { toggle: "dropdown" } do %>
          <%= image_tag current_user.avatar_url, height: 25, class: "rounded-circle" %>
          <% if current_member && current_member.nickname? %>
            <%= current_member.nickname %> (<%= current_user.name %>)
          <% else %>
            <%= current_user.name %>
          <% end %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to page_i18n('profile'), profiles_basic_path(request_for_ok_url), class: "dropdown-item" %>
          <%= link_to action_i18n('logout'), destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </div>
      </li>
    <% else %>
      <li class="nav-item"><%= link_to action_i18n('login'), new_user_session_path, class: "nav-link" %></li>
    <% end %>
  </ul>
</nav>
