<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="full-height bg-light">
    <%= render "layouts/nav" %>
    <%= render "layouts/flash" %>

    <div class="card m-3">
      <div class="card-header bg-white pb-0">
        <%= yield :header %>
      </div>

      <div class="card-body">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
