<!DOCTYPE html>
<html>
  <head>
    <title>Testpoint</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="full-height bg-light">
    <%= render "layouts/nav", current: @navbar %>
    <%= render "layouts/flash" %>

    <div class="card m-3">
      <div class="card-header bg-white pb-0">
        <%= yield :header %>
      </div>

      <div class="card-body">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
