<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="full-height">
    <%= render "layouts/nav", current: "cases" %>

    <div id="tp-contianer" class="d-flex align-items-stretch">
      <div id="tp-sidebar" class="col-12 col-md-3 col-xl-2 bg-light">
        <h5>Components</h5>
        <% folders_mapping = Component.available.ranked.group_by(&:parent_id) %>
        <%= fume_nav @folder.try(:id), active_class: "" do |n| %>
          <ul class="treeview">
            <%= n.apply_content nil do |cls| %>
              <li class="treeview-item">
                <%= link_to "All Components", (@default_cases_url_options || {}).merge(controller: "test_cases", action: :index, folder_id: nil), class: cls || "text-muted" %>
              </li>
            <% end %>

            <%= render "shared/treeview_folders", folders: folders_mapping[nil] || [],
                                                     path_ids: @folder.try(:path_ids) || [],
                                                     folders_mapping: folders_mapping,
                                                     n: n %>
          </ul>
        <% end %>

        <%= new_button Component, [ :new, :folder, ok_url: request.fullpath ], class: "text-muted d-block mt-2" %>
      </div>

      <div id="tp-main" class="col-12 col-md-9 col-xl-10">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
