<div class="page-header">
  <h2><%= h Project, :members %></h2>
  <% if can? :update, @project %>
    <div class="actions ml-auto">
      <%= link_to "新增成员", [:edit, @project] %>
    </div>
  <% end %>
</div>

<table class="table">
  <colgroup>
    <col width="20%"/>
    <col width="20%"/>
    <col width="20%"/>
    <col width="20%"/>
    <col width="20%"/>
  </colgroup>
  <thead>
    <tr>
      <th><%= sort_link(@q, :id)%></th>
      <th><%=h User, :name %></th>
      <th><%=h User, :email %></th>
      <th><%=h User, :role %></th>
      <th><%=page_i18n :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <% if can? :remove_member, @project %>
            <%= link_to "移除该成员", remove_member_project_path(@project, user_id: user.id), method: :post, class: "btn btn-secondary btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="table-pagination">
  <%= paginate @users %>
</nav>
